# –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [32]:
import pandas as pd

from tqdm import tqdm
tqdm.pandas()

In [33]:
df_list = []

for i in range(12):
    df_list.append(
        pd.read_csv(f"columns/out_{i}.csv", sep="‚áß", engine="python", quotechar='"', on_bad_lines="warn")
    )
df = pd.concat(df_list, axis=0)
df

Skipping line 49611: '‚áß' expected after '"'
Skipping line 49612: '‚áß' expected after '"'
Skipping line 49613: '‚áß' expected after '"'
Skipping line 346135: field larger than field limit (131072)

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–ö–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–î–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,–°–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–õ—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–û—á–∫–∏
...,...,...,...
415127,dataset/Dataset/data/35185/table_10,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
415128,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
415129,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415130,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415131,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

# Research
---
–ü—Ä–æ–±–ª–µ–º–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã (—Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –Ω–µ –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å):
- –°—Ç–æ–ª–±—Ü—ã –ø–æ —Ç–∏–ø—É: "ŒîH–∫–∏–ø, –∫–î–∂¬∑–º–æ–ª—å‚àí1"
- –°—Ç–æ–ª–±—Ü—ã –∏—Å–ø–æ–ª—å–∑—É—é—â–∏–µ—Å—è –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∫–∞–∫–∏—Ö-–ª–∏–±–æ –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –≤—Ä–µ–º–µ–Ω–∏ (–º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)
- –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –∏–º–µ–Ω–∏
- –°—Ç–æ–ª–±—Ü—ã, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª–∞ (—á–∏—Å–ª–∞ –∏ —Ç.–ø.)
- –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã –∏ —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è

### –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è = 164500
–∏—Ö –º–æ–∂–Ω–æ –æ—Ç–ø—Ä–∞–≤–∏—Ç—å –≤ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫—É, —á—Ç–æ–±—ã –Ω–µ —Ç–µ—Ä—è—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. (–Ω—É–∂–Ω–æ –µ—â–µ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, —á—Ç–æ –≤–Ω—É—Ç—Ä–∏ –Ω–∏—Ö –æ–±—ã—á–Ω–æ –ª–µ–∂–∏—Ç)

### –ë–µ–∑ –∏–º–µ–Ω–∏
–º–æ–∂–Ω–æ –≤ —Ç–µ—Å—Ç

## .mv-parser... = 15661
–æ–±—Ä–µ–∑–∞—Ç—å —Ç–æ–ª—å–∫–æ –æ—Å–º—ã—Å–ª–µ–Ω–Ω—ã–π —Ç–µ–∫—Å—Ç

---

In [34]:
df["column_name"].value_counts()

column_name
–ì–æ–¥                         220591
–ú–µ—Å—Ç–æ                        87172
–†–æ–ª—å                         78947
–ö–æ–º–∞–Ω–¥–∞                      67696
–ù–∞–∑–≤–∞–Ω–∏–µ                     64944
                             ...
COM Express / ETXexpress         1
–†–∞–∑–ª–∏—á–Ω—ã—Ö—Ç–æ–ø–æ–ª–æ–≥–∏–π               1
–†–∞–∑–ª–∏—á–Ω—ã—Ö–¢0 —Ç–æ–ø–æ–ª–æ–≥–∏–π            1
–ù–µ—ç–∫–≤–∏–≤–∞–ª–µ–Ω—Ç–Ω—ã–º—Ç–æ–ø–æ–ª–æ–≥–∏–π         1
–ù–∞ –æ–±—Å–µ—Ä–≤–∞—Ü–∏–∏                    1
Name: count, Length: 125691, dtype: int64

## –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è

In [35]:
unnamed_columns = df["column_name"].apply(lambda x: str(x).startswith("Unnamed"))
df[unnamed_columns]

                                    table_id  column_id  column_name
92      dataset/Dataset/data/7901984/table_1         11  Unnamed: 11
199     dataset/Dataset/data/5929754/table_7          1   Unnamed: 1
200     dataset/Dataset/data/5929754/table_7          2   Unnamed: 2
201     dataset/Dataset/data/5929754/table_7          3   Unnamed: 3
202     dataset/Dataset/data/5929754/table_7          4   Unnamed: 4
...                                      ...        ...          ...
414659  dataset/Dataset/data/5676641/table_9          1   Unnamed: 1
414782  dataset/Dataset/data/8352540/table_0          1   Unnamed: 1
414824  dataset/Dataset/data/1447471/table_0          1   Unnamed: 1
415023  dataset/Dataset/data/2708389/table_2          0   Unnamed: 0
415061  dataset/Dataset/data/3217640/table_4          0   Unnamed: 0

[164397 rows x 3 columns]

## –°—Ç–æ–ª–±—Ü—ã —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏: ".mw-parser..."

In [36]:
mv_parser = df["column_name"].apply(lambda x: str(x).strip().startswith(".mw-parser"))
df[mv_parser]

,table_id,column_id,column_name
339,dataset/Dataset/data/3595819/table_0,0,.mw-parser-output .ts-comment-commentedText{bo...
374,dataset/Dataset/data/6412392/table_1,2,.mw-parser-output .ts-comment-commentedText{bo...
646,dataset/Dataset/data/5220971/table_15,1,.mw-parser-output .ts-comment-commentedText{bo...
1159,dataset/Dataset/data/6614435/table_0,2,.mw-parser-output .ts-comment-commentedText{bo...
1277,dataset/Dataset/data/7406863/table_0,7,.mw-parser-output .ts-comment-commentedText{bo...
...,...,...,...
413067,dataset/Dataset/data/4558392/table_0,0,.mw-parser-output .ts-comment-commentedText{bo...
413415,dataset/Dataset/data/7720725/table_1,9,.mw-parser-output .ts-comment-commentedText{bo...
413645,dataset/Dataset/data/309979/table_2,1,.mw-parser-output .ts-comment-commentedText{bo...
413832,dataset/Dataset/data/3100187/table_0,0,.mw-parser-output .ts-comment-commentedText{bo...
413865,dataset/Dataset/data/3251283/table_0,1,.mw-parser-output .ts-comment-commentedText{bo...

### –í –Ω–∞–∑–Ω–≤–∞–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è —á–µ–ª–æ–≤–µ–∫–æ–ø–æ–Ω—è—Ç–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ, –Ω—É–∂–Ω–æ –æ—Ç—á–∏—Å—Ç–∏—Ç—å –º—É—Å–æ—Ä–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [37]:
mv_parser_humnareadable_names = df[mv_parser]["column_name"].apply(lambda x: str(x).split("}")[-1])
mv_parser_humnareadable_names.unique()

array(['–ú', '–ú–£', '–î / –í', '–ü', '–í', '‚Ññ', '–ü.', '7,5+7,5 –∫–º', '–ò', '–ò—Å—Ç.',
       '–õ/–ö—Ä—É–≥–∏', '–ö–æ—ç—Ñ—Ñ.', '–ì. —Ä.', '–ñ–µ—Ä—Ç–≤—ã', '–ö—É–±–æ–∫', '–ó', '–ü–æ—Ä—Ç—Ä–µ—Ç',
       '–ü–æ–∑.', '–ì', 'WR', '–ì–æ–¥', '–ö–∞—Ç–µ–≥–æ—Ä–∏—è', '99/00', '–õ—É—á—à–∏–π –Ω–æ–≤–∏—á–æ–∫',
       '–ò–≥—Ä', '–•–ü', 'No.', '–ü—Ä–∏–º.', '–ò–Ω–¥–∏–≤.', '–£—Ä–æ–≤.', '–°–±', '–ü–ü',
       '–¶–µ—Ä–µ–º–æ–Ω–∏—è', '–ß–°', '–ö–ü', '–ö–æ—ç—Ñ.', 'Bib', '–ü–æ—É–ª', '–ò—Å—Ç', '11/12',
       '–°–°', '–õ.–∫—Ä—É–≥–∏', '–û–° –ú–°–û–ü', '04/05', 'PPG', '–≠—Ç–∞–ø', '–ü–°–õ', '–ü–æ–∑',
       '–ü–±', '–°–£', '–ß–†', '–õ/–∫—Ä—É–≥–∏', '09/10', ' –ò', 'GP', '+', '–ö–æ–¥',
       '–°—É–±—ä–µ–∫—Ç –†–§', '–û–ü', '–ú–µ—Å—Ç–æ', '–î–∞—Ç–∞ —Ä–æ–∂–¥–µ–Ω–∏—è', '–ö–ß', '12/13', '–û',
       '–¢–¢–•', '–ò—Ç–æ–≥–æ', '15+15 –∫–º', '–ò.', '–ú–Ω–æ–≥–æ–±–æ—Ä—å–µ', '–î–æ–º.', '–ö–∞—Ç',
       '–ü—Ä.', '–ß–∏—Å–ª–µ–Ω–Ω–æ—Å—Ç—å–≤–µ—Ä—É—é—â–∏—Ö–º–ª–Ω. —á–µ–ª–æ–≤–µ–∫', '–†–∞–∑–Ω–∏—Ü–∞', '–ú–ì', '10/11',
       '–ì–æ–ª–æ—Å–æ–≤–∞–ª–æ', 'Country Songs[A]', '–ü–∞–ª.', 'Œ£', '#', 'APG', 'G',
       '–ù–æ–º.', '–ë/–ù', '+/- (–≤\xa0%)', '‚Ññ –ø/–ø', '–ü–µ—Ä–∏–æ–¥', '–û—Ç—á—ë—Ç', '–ù',
       '–∏–Ω–æ—Å—Ç—Ä.', '–î / –í / –ù', 'Pos.', '–ò—Ç–æ–≥[1]', '–ü–∏–∫', '–†–µ–ª–∏–∑', 'SPG',
       '–°–£, –∫–º', '–ì–ó', '–°–†', '–°–Ω.', '–ü–æ–±–µ–¥–∞', '–ö–ù', ' –í', '–ó–∞–≤. ‚Ññ',
       '–°–ö–† (–æ–±—â–∏–π)', '–ü—Ä–æ–∏–∑–≤.–∫–æ–¥', '06/07', '–°–ö', '–ñ–ö', '–¥–ª–∏–Ω–∞', '¬±',
       '–¢–∞–∫–∂–µ –≤—ã—à–µ–ª', ' –û—Ç', '–ù–∞—Ü', '–¶–≤–µ—Ç–∞ —É—á–∞—Å—Ç–Ω–∏—Ü', '14/15', '–ú–∞—Ç—á–∏',
       '\xa0–í', '–ì–ü[69]', '–ù/–¥', '–ú/–ë', 'M', '–í—Å–µ–≥–æ –¥–µ–ø—É—Ç–∞—Ç–æ–≤', '–í–æ–∑—Ä–∞—Å—Ç',
       '–£—á–∞—Å—Ç–∏—è –≤ —Ñ–∏–Ω–∞–ª—å–Ω—ã—Ö —Ç—É—Ä–Ω–∏—Ä–∞—Ö', '–í‚Äì–ü', '–û–ø–∏—Å–∞–Ω–∏–µ', '–†–°', '–†–µ–∑.',
       '–û–ù', '–¢–ê (–ë–ö —Ç–æ—Ä–ø–µ–¥)', '–†–µ–∑—É–ª—å—Ç–∞—Ç', '–°–µ–π—á–∞—Å', '–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç',
       '–í—ã—Å–æ—Ç–∞,\xa0–º', '–ì—Ä—É–ø–ø–∞', '–†–µ–≥. —á–µ–º–ø.', '–ö–ò', 'MVP', 'HP', '02/03',
       '–û—Ü–µ–Ω–∫–∞ D', '–ì–æ–¥, —Å—Å—ã–ª–∫–∏,(‚Ññ —Ü–µ—Ä–µ–º–æ–Ω–∏–∏)', '–î–Ω–µ–π', '–°–≠', '–ì–ü[31]',
       '–î–æ—Å—Ç—É–ø-–Ω–æ—Å—Ç—å', '92/93', '–ü–µ—Ä. —ç–∫—Å–ø–ª—É–∞—Ç.', '‚Ññ‚Ññ', '–°', 'D2/D0',
       '–£—á–∞—Å—Ç–∏—è –≤ –†–µ—Å—Ç–ª–º–∞–Ω–∏—è—Ö', '–í—ã–±—ã–ª–∞', '–°–µ–∑–æ–Ω—ã', '–ö', '–ö–≤–∞–ª.', '–ì—Ä.',
       '–ß–µ–º–ø–∏–æ–Ω—Å—Ç–≤–æ', '08/09', 'RPG', '–°—Å—ã–ª.', '‚Ññ –≤—Å–µ—Ä–∏–∞–ª–µ JAG', '–í —Å—Ä.',
       '–ö–∞–Ω–¥–∑–∏', '–ì–ü[67]', ' –ü/–£', '–û—á–∫–∏',
       '–ú–µ–¥–∏–∞—Ñ–∞–π–ª—ã –Ω–∞\xa0–í–∏–∫–∏—Å–∫–ª–∞–¥–µ–ú–æ–¥–µ–ª—å', 'RSKP', '–û–ß–ú', '+/-', '–¢',
       '–í–æ–∑–¥.', '–ü–ö–ü', '–ù–æ—Ä–≤–µ–∂—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–ö–≤–∞–ª–∏—Ñ–∏–∫–∞—Ü–∏—è',
       '–û–ö–† –Ω–∞ 1000–∂–∏—Ç–µ–ª–µ–π', '–ù–∞—Å–µ–ª–µ–Ω–∏–µ[65]', '–î–∞—Ç–∞', '–ó–Ω–∞–∫ —Ä–∞–∑–ª–∏—á–∏—è',
       '–ë–ö', '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[4]', '–ö–ê', '–ö—Ä', '–†–µ–π—Ç–∏–Ω–≥', '–ó–≤–∞–Ω–∏–µ',
       '–û—Ä–±–∏—Ç–∞', '–û—Ü–µ–Ω–∫–∞ E', 'N', '–î–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç', '–ü–®', '–ú–ö–ó', '–í won',
       '–í–Ω–µ–±–∏—Ä–∂–µ–≤–æ–π —Ä—ã–Ω–æ–∫', '–ú–µ—Å—Ç–æ/—Ç—É—Ä', '–î–µ–ª–æ', '–î–ù–ü', '–ì—Ä-–≤–æ', '–ë–≠',
       '–ì–æ—Ä–æ–¥–∞ –û–ü', '–ù–∞—É—á–Ω—ã–µ —Å—Ç–µ–ø–µ–Ω–∏ –∏ –∑–≤–∞–Ω–∏—è', '–ü—Ä–æ–ø—É—â–µ–Ω–æ', '–û–°–ò',
       '78/79', '% –í', '–°–±–æ—Ä–Ω—ã–µ', '–°—Ç—Ä–∞–Ω–∞', '–ó–∞—è–≤–ª–µ–Ω–∏–µ –æ–± —É—á–∞—Å—Ç–∏–∏',
       '03/04', '–ü–ß', 'Ref',
       '–î–æ–ª—è —É—á–µ–Ω–∏–∫–æ–≤ –ø–æ –æ–±—É—á–µ–Ω–∏—é –Ω–∞ —Ä—É—Å—Å–∫–æ–º –∏ –±–µ–ª–æ—Ä—É—Å—Å–∫–æ–º —è–∑—ã–∫–∞—Ö,\xa0%[42][39][43]:',
       'SS', '–ë/–ö—Ä—É–≥–∏', '–ü–ª–æ—Ç–Ω–æ—Å—Ç—å(—á–µ–ª./–∫–º¬≤)', 'SP', 'SP.1', '15/16',
       '–¢–∏–ø –∞–¥–º. –µ–¥.', '–°—Ç—Ä.', '–°–∏–Ω—è—è —Å—Ç–æ—Ä–æ–Ω–∞', '–ì–æ–ª/–ò–≥—Ä–∞', '–õ–∞—É—Ä–µ–∞—Ç—ã',
       ' ‚ôÜ', '–ü.–Ω.', '–ò, –°', '–ù–æ–º–µ—Ä —É–∫–∞–∑–∞', '–ë—ã—Å—Ç—Ä—ã–π –∫—Ä—É–≥', '–ì–æ–¥ (–Ω–∞—á.)',
       '–ì–æ–ª—ã', '–ó–∞—á.', 'Ref.', '–ö–°', '–ü–µ—Ä.', '–§–∏–Ω–∞–ª', '–î—Ä–µ–≤–Ω.', '–°—Ç–∞—Ä—Ç',
       '–ö–æ–º–∞–Ω–¥—ã', '', '–ò–ª–ª.', '–í–£', '–ì–ü', '–ö–ü–ë', '–ö–ù–°–û', '–°—Ç–∞–¥–∏—è',
       '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.1', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.2',
       '–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Å–æ–∑–≤–µ–∑–¥–∏—è', '10 –∫–º', '89/90', '–°–≥—Ä', '–µ–¥. –∏–∑–º.',
       '–î', '–≠—Ç–∞–ø—ã', '–ê', '–†–∞–∑', '–í–ú', '–õ–∏–≥–∞', '–ù.', '–¢—Ä–µ–Ω–µ—Ä',
       '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç–Ω—ã—Ö –ø–æ–∫–∞–∑–æ–≤ (–º–ª–Ω)', 'BPG', '–ì–æ–ª—ã (–ü)', '–£',
       '17/18', '–ê–¥–º–∏–Ω.—Ü–µ–Ω—Ç—Ä', '–ê–≤—Ç–æ', '–û—á', 'Av.', '96/97', '–¢–∏–ø',
       '–ö–æ–ª.', '–î/–≥', '–õ–ö', '–ú.', '–ó—Ä–∏—Ç–µ–ª–∏', '–†–∞–∑–º–µ—Ä –¥–æ–∫–∞–ø–∏—Ç–∞–ª–∏–∑–∞—Ü–∏–∏',
       'TFP', '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[1]', '–≠/–±', ' –ü–æ–∑.', '–¥/–≥', '–ü—Ä–∏–º–µ—á–∞–Ω–∏–µ',
       '–û—Ü–µ–Ω–∫–∞ –∑–∞ —Ç—Ä—É–¥–Ω–æ—Å—Ç—å', '–ù–µ–∑–∞–≤–∏—Å–∏–º—ã–π –ø–æ–±–µ–¥–∏—Ç–µ–ª—å', '25 –º',
       '–ü–∞—Å—Å.,–º–ª–Ω', '–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–ö-–≤–æ', '–ö–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã',
       '–ü–ª–µ–π-–æ—Ñ—Ñ', '–û–ò–ö', '–ú–µ–¥–∞–ª–∏', '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è', '–§–∞–∑–∞', '–ö–ª—É–±—ã',
       '–î–æ–ª–∂–Ω–æ—Å—Ç—å / –¢–∏—Ç—É–ª', '–ö–†–°', '–ö–æ–Ω—Ñ.', '–ê–±–±—Ä.',
       '–û—Ñ. ITV —Ä–µ–π—Ç–∏–Ω–≥(–º–ª–Ω)[1]', '–õ. –∫—Ä—É–≥–∏', 'Vref',
       '–ù–¢ –ò–Ω–¥. —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è', '–î–∂.', '–í—ã–±—ã–ª–∏', 'TC2 winner', '–°–ø—Ä',
       '–ö–∞—Ç.', '–ù–∞–∑–≤–∞–Ω–∏–µ –≤ –∑–∞—è–≤–∫–µ–Ω–∞ –Ω–æ–º–∏–Ω–∞—Ü–∏—é', '–ó—Ä–∏—Ç–µ–ª–µ–π', '–î–ë', '–§–ò–û',
       '–ß. –∏. —Å.', '–ü—Ä–æ—Ñ. –ø–µ—Ä–∏–æ–¥', '–ö–¢', '–ò–ì–†', '–ü—Ä–æ—á–∏–µ', '–î–∏–≤.',
       '–ò–∑–±–∏—Ä–∞—Ç–µ–ª–µ–π', '–†–µ–ª–∏–≥–∏—è', '–ò–µ—Ä.', '100 –º —Å/–±', '–î/–ì', '–ü–æ–±',
       '–ö–æ–º–º.', 'C', '–ò—Å.', '–í—Å–µ–≥–æ', '–ù–∏–∫', 'W', '–†–∞–Ω–≥[~ 1]', '–ù–∞—Å–µ–ª–µ–Ω–∏–µ',
       '–û–∫—Ä—É–≥', '–ü–µ–Ω', 'Pld', 'RCT', '–°–ü', '07/08', '–î–∞—Ç–∞ –Ω–∞—á–∞–ª–∞ –≤–æ–ª–Ω—ã',
       '–ì–æ–¥—ã –∂–∏–∑–Ω–∏', '–û—Ü–µ–Ω–∫–∞ T', '–ú–∏–Ω—É—Ç', '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è –æ—Ä–¥–µ–Ω–∞', 'TA',
       '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥', '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥.1', '–î–∏–≤–∏–∑–∏–æ–Ω', 'PR', 'SOS', '‚Ññ–∞–≤',
       '–í-–ü', '–î–æ–ª–∂–Ω–æ—Å—Ç—å', '–ò–∑–¥.', '–ó–ú', '–ù/–æ', '–ê-2010', '–ö–ú', '–î–æ–ª—è, %',
       '–ö–æ—ç—Ñ—Ñ.[1]', '–ú–°', 'bib', '100 –º'], dtype=object)

## –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã / —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è / –º–µ—Ä—ã (–∫–≥, –∫–¥–∂.)

In [38]:
# TODO: what should i do? -_-

## –ó–∞–≥–æ–ª–æ–≤–∫–∏, —Å–æ—Å—Ç–æ—è—â–∏–µ –∏–∑ –æ–¥–Ω–æ–π –±—É–∫–≤—ã

In [39]:
no_word_in_header = df["column_name"].str.len() < 2
df[no_word_in_header]["column_name"].unique()

array(['‚Ññ', '–ò', '–í', '–ü', '–û', '#', '1', '2', '3', '4', '5', '6', '7',
       '8', '9', '–ù', '¬±', '%', '+', '‚àí', '=', '–®', '–ë', '–õ', '–ú', '-',
       '–°', '–ó', '–ì', 'N', '¬´', '¬ª', 'm', 'V', 'G', 'W', 'L', '–ê', '–î',
       '0', '–†', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l',
       'n', 'X', '…ô', 'u', 'o', 'H', 'J', 'K', 'I', 'C', 'D', '‚Äî', '–¢',
       'F', '¬¨', 'M', 'z', '–•', '–£', '‚Äô', '–≠', 'Z', 'R', '—Å', 'Â≠∏', '√§',
       'Œî', 'E', '<', '>', 'T', 'A', 'O', 'S', 'U', 'Y', 'P', 'B', 'Q',
       'p', '*', '–ß', 't', '–§', 'œá', 'Œ£', '‚Üï', 's', '–¶', '–Ω', '√ó', '–ö',
       '‚Ç£', 'j', 'Œ≥', '.', ':', ' §', 'w', '¬∑', '–º', 'Œ±', 'Œ≤', 'Œ¥', 'Œµ',
       'Œ∂', 'Œ∑', 'Œ∏', 'Œπ', 'Œ∫', 'Œª', 'Œº', 'ŒΩ', 'Œæ', 'Œø', 'œÄ', 'œÅ', 'œÉ',
       'œÑ', 'œÖ', 'œÜ', 'œà', 'œâ', '·∏•', 'r', '·∏≥', '·∏´', '√Å', '»∫', 'ƒÜ', '»ª',
       ' º', '–ï', '‚Ä¶', 'Â∞á', 'Âºµ', '‡≤Ö', '‡≤Ü', '‡≤á', '‡≤à', '‡≤â', '‡≤ä', '‡≤ã', '‡≥†',
       '‡≤é', '‡≤è', '‡≤ê', '‡≤í', '‡≤ì', '‡≤î', '‚Ä¢', 'q', '$', 'v', 'x', 'y', '–ñ',
       '‚Üê', '‚Üî', '‚Üí', '”ò', '“í', '–Å', '–ô', 'Í§Ä', 'Í§Å', 'Í§Ç', 'Í§É', 'Í§Ñ', 'Í§Ö',
       'Í§Ü', 'Í§á', 'Í§à', 'Í§â', '·ùÄ', '·ùÉ', '·ùã', '·ùÑ', '·ùÖ', '·ùÜ', '·ùá', '·ùà', '·ùâ',
       '·ùä', '·ùå', '·ùç', '·ùé', '·ùè', '·ùê', '·ùë', '—è', '—Ñ', '–∞', '–∏', '–æ', '–¥',
       '«ß', '⁄ö', '⁄ñ', '⁄Ö', '⁄Å', '⁄ò', 'ƒÄ', ' æ', ' ø', '·π≠', '·π£', '·∏ç', '_',
       '‚Ç®', '/', '„Ñè', '⁄Ñ', 'ÿ¨', 'Ÿæ', 'ÿ´', 'Ÿ∫', 'ŸΩ', 'Ÿø', 'ÿ™', '⁄Ä', 'Ÿª',
       'ÿ®', 'ÿß', '‡§ï', '‡§ñ', '‡§ó', '‡§ò', '‡§ô', '‚à®', '√∏', 'ÿ∞', '⁄à', 'ÿØ', 'ÿÆ',
       'ÿ≠', '⁄Ü', 'Ÿπ', '…õ', '‡∞Ö', '‡∞Ü', '‡∞á', '‡∞à', '‡∞â', '‡∞ä', '‡∞ã', '‡±†', '‡∞å',
       '‡±°', '‡∞é', '‡∞è', '‡∞ê', '‡∞í', '‡∞ì', '‡∞î', 'ëÑÉ', 'ëÑÑ', 'ëÑÖ', 'ëÑÜ', '–Ø', 'ƒÅ',
       '≈´', '√©', '…®', '·πü', ' â', "'", '^', '—É', '—ç', '—é', '—ë', '‚âà', '“∂',
       '“∑', 'ëÑá', 'ëÑà', 'ëÑâ', 'ëÑä', 'ëÑã', 'ëÑå', 'ëÑç', 'ëÑé', 'ëÑè', 'ëÑê', 'ëÑë', 'Àá',
       '¬¥', 'Àò', 'Êàë', '‚àë', '…ì', '…ó', ' î', '…≤', '≈ã', ' ã', 'Í§ä', 'Í§ã', 'Í§å',
       'Í§ç', 'Í§é', 'Í§è', 'Í§ê', 'Í§ë', '‚Üõ', '‚àß', '‡§Ö', '‡§Ü', '‡§á', '‡§à', '‡§â', '‡§ä',
       '‡§è', '‡§ê', '‡§ì', '‡§î', '…î', 'Â≠ó', 'Í§¢', 'Í§£', 'Í§§', 'Í§•', ',', '?', '!',
       ';', '‡§ã', '‡•†', '‡§å', '‡•°', '–≤', '–ø', 'ƒ≠', '–µ', '‡ÆÖ', '‡ÆÜ', '‡Æá', '‡Æà',
       '‡Æâ', '‡Æä', '‡Æé', '‡Æè', '‡Æê', '‡Æí', '‡Æì', '‡Æî', '…£', '–¨', '–©', '–™', '–´',
       '–Æ', '}', '‚àû', 'ëÑ∂', 'ëÑ∑', 'ëÑ∏', 'ëÑπ', 'ëÑ∫', 'ëÑª', 'ëÑº', 'ëÑΩ', 'ëÑæ', 'ëÑø',
       '√¢', '√ò', '–∂', ' ä', '…µ', '…Æ', ' É', '√º', '·•Ü', '·•á', '·•à', '·•â', '·•ä',
       '·•ã', '·•å', '·•ç', '·•é', '·•è', 'Œ†', 'Œë', 'Œí', 'Œì', 'Œï', 'œú', 'Œñ', 'Œó',
       'Œò', 'Œô', 'Œö', 'Œõ', 'Œú', 'Œù', 'Œû', 'Œü', 'œò', 'Œ°', 'Œ§', 'Œ•', 'Œ¶',
       'Œß', 'Œ®', 'Œ©', 'œ†', '–±'], dtype=object)

# –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

---
1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö ".mv-parser.."
2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞
3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞ (‚Ññ, $, %, –∏ —Ç.–ø.)
4. –û—á–∏—Å—Ç–∫–∞ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞
5. –£–¥–∞–ª–µ–Ω–∏–µ –ª–∏—à–Ω–∏—Ö –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞
---

In [40]:
df_cleansed = df.copy()

## 1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤

In [41]:
def clean_mv_parser(col_name: str) -> str:
    if col_name.strip().startswith(".mw-parser"):
        return col_name.split("}")[-1]
    return col_name

df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: clean_mv_parser(str(x)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4965678/4965678 [00:02<00:00, 2368682.05it/s]

In [42]:
df_cleansed[mv_parser]

                                     table_id  column_id column_name
339      dataset/Dataset/data/3595819/table_0          0           –ú
374      dataset/Dataset/data/6412392/table_1          2           –ú
646     dataset/Dataset/data/5220971/table_15          1          –ú–£
1159     dataset/Dataset/data/6614435/table_0          2       –î / –í
1277     dataset/Dataset/data/7406863/table_0          7           –ü
...                                       ...        ...         ...
413067   dataset/Dataset/data/4558392/table_0          0           –ú
413415   dataset/Dataset/data/7720725/table_1          9           –í
413645    dataset/Dataset/data/309979/table_2          1           –í
413832   dataset/Dataset/data/3100187/table_0          0           –ú
413865   dataset/Dataset/data/3251283/table_0          1           ¬±

[15652 rows x 3 columns]

## 2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞

In [43]:
unnamed_columns = df_cleansed["column_name"].str.startswith("Unnamed")
df_cleansed = df_cleansed[~unnamed_columns]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–ö–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–î–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,–°–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–õ—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–û—á–∫–∏
...,...,...,...
415127,dataset/Dataset/data/35185/table_10,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
415128,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
415129,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415130,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415131,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞

In [44]:
def remove_alphabetic_symbols(col_name: str) -> str:
    """TODO: just replace this symbols with space"""
    restricted_symbols = [
        "(", 
        ")", 
        "+", 
        "-", 
        "[", 
        "]", 
        "/", 
        ".", 
        ",", 
        "@", 
        "{", 
        "}", 
        "¬´", 
        "¬ª", 
        "<", 
        ">", 
        ":", 
        ";", 
        "'",
        "*",
        "?",
        "!",
        "-",
        "_",
    ]
    return "".join(c for c in col_name if not c.isalpha() and not c.isdigit() and not c.isspace() and c not in restricted_symbols)

non_alpha = df_cleansed["column_name"].progress_apply(lambda x: remove_alphabetic_symbols(str(x)))
non_alpha.unique()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:04<00:00, 1004772.29it/s]

array(['', '‚Ññ', '%', '#', '¬±', '‚àí', '=', '‚Äî', '‚àÜ%', '‚Äì', '‚Ç¨', '\u200e',
       '\\', '""', '$', '‚Äì%', '‚ãÖ', '\xad', '\\‚Ññ', '‚Ä¶', '‚Ä∞', '%~', '‚Äî‚Ä¶',
       '¬∞', '~%', '¬∑', '&', '|', '‚Äô', '¬¨', '%%%%%%%%', '‚Ä¢‚Ä¢', '||', '‚ÇΩ',
       '‚äô', '‚Äô‚Äô', '¬£', '‚Äî‚Äî‚Äî', '‚â°', '‚Äî%', '‚âà', '¬•', '~', '‚Äô‚Äî', '‚àû',
       '\x7f"``"\x7f', '#Ô∏è‚É£', '‚ñº', '%%%%%%', '‚†Ä', '$$', '‚Äò‚Äô', '¬±¬∞', '‚Ä≤‚Ä≤',
       'ÔºàÔºâ', '‚Üï', '‚Üí‚Üì', '‚äï', '\xad\xad', '\xad\xad\xad\xad\xad',
       '\xad\xad\xad\xad', '‚Ä°', '‚Ä¢', '‚Äî‚Äî', '‚Ä¢&', '¬∑‚àí', '=""', '√ó', '¬∞¬∑',
       '=‚àí', '‚àë', '‚Ä†', '‚Ç£', '‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Äî‚Äî‚Ññ‚Äî‚Ññ', '‚ñº¬ß', '‚Üì‚Üí', '‚Üì', 'À¶', 'À©',
       'ÀßÀ©', 'À•Àß', 'À•', '%%', '\xad\xad\xad', 'ÃÅ', '‚Üì¬∑‚Üí', '‚Äô%', '‚Ññ‚Ññ',
       '%‚Äì', '‚Ññ\\', '"', '√ó√ó', '‚àí‚àí', '‚àô‚àí', '‚àô‚àô‚àí', '‚Ññ#', '√ó‚Äù', '‚Üí',
       'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '‚Äî#&~', '‚Ññ‚Äî', '‡≤Ç', '‡≤É', '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', 'Ôºö', 'ÃÉ', '‚Üê',
       '‚Üî', '‚Ññ‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Ññ‚Ññ‚Äî', '‚Äë', 'ÃàÃà', '¬∞‚Äî', '%‚Äî', '¬±%', '&&',
       '‡•ç', 'ÃÑÃÑ', '¬∑¬∞', '‚Ññ&', '‚Ä¢‚Äî', '‚Ä¢‚Ä¢‚Ä¢', '‚Ç®', '¬Ω', '¬º', '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚àí%',
       '#&', 'Í§¶', 'Í§ß', 'Í§®', 'Í§©', 'Í§™', '‚à®', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '√∑%', '‚â§¬∞', '‚â•¬∞',
       '‚Äò‚Ä¶‚Äô', '‚àí¬∑', '‚Äî¬∞', 'Ã±Ã±', '‡∞Å', '‡∞Ç', '‡∞É', '‚òÖ', '‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚àÖ',
       '‚àß', '¬∂', '‚â•', '‚Äú‚Äù', '‚ôÅ', '""|&', '‚òâ', '‚â§', '¬Ω¬Ω', '‚ñº‚ñ≤%', '^', '√ó‚àí',
       '√∑', '‚ôÜ', '‚àí‚àí‚àí‚àí', '|||', '‚Ç©', '√ó=', '¬¥', 'Àò', '&‚Äô', '„ÄÇÔºàÔºâ„ÄÇ„ÄÇÔºàÔºâ„ÄÇ',
       '‚Üë', '‚áÖ', '‚àû‚àû', '‚àû‚àû‚àû', '%¬±', '‚àí¬∑‚àí', '‚ôÇ', '‚ôÄ', 'ÃÅÃÅ', 'Ã®', '‚Üõ',
       '‚Äô‚Äô‚Äô', 'ëÑß', 'ëÑ®', 'ëÑ©', 'ëÑ™', 'ëÑ´', 'ëÑ¨', 'ëÑÆ', 'ëÑ≠', 'ëÑØ', '#|', '=ÃÖ',
       '&‚Äì', '‡§Ç', '‡§É', '‚Ä¶‚Äî‚Äî', '‚Ä¶‚Äî‚Äî‚Äò', '$&', '√ó‚Åª', '=%', '===', '‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶',
       '&$', 'Ôøº', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '##', 'Í§´', 'Í§¨', 'Í§≠', '%¬∞', '‚Ä≤', '====',
       '¬∑¬∑', '################', '%‚àí', 'Ã±', '‚Äî‚Äì', '=‚Äî', 'ÃÅÃÅÃÅÃÅ', '¬ß',
       '~‚Äî^‚Äî', '`', 'Ã∞Ã∞', '‚àº', '‚Ññ‚Üí‚Üì', '¬∑‚àí¬∑‚àí', '‚Äî%‚Äî%‚Äî%', '==', '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî',
       '‚â§%%√∑%%√∑%%', '""""', '%%%%‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', 'Õ°', '‚Äì‚Äì', '=^', '====¬∞',
       '%‚Ññ', '¬±¬±¬∑¬±¬±', 'Ôºà'], dtype=object)

In [45]:
# # - —Ç–æ–∂–µ –Ω–æ–º–µ—Ä –∏–ª–∏ –Ω–µ –≤—Å–µ–≥–¥–∞
# –ú–Ω–æ–≥–æ –∑–Ω–∞–∫–æ–≤ —Ä–∞–≤–µ–Ω—Å—Ç–≤–∞, —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –≤ —Å—Ç–æ–ª–±—Ü–µ —á–∏—Å–ª–æ –ª–µ–∂–∏—Ç, –º–æ–∂–Ω–æ —Ç–æ–∂–µ —É–∫–∞–∑–∞—Ç—å
rules = {
    "‚Ññ": " –Ω–æ–º–µ—Ä ",
    "%": " –ø—Ä–æ—Ü–µ–Ω—Ç ",
    "‚àÜ": " —á–∏—Å–ª–æ ",
    "‚àë": " —Å—É–º–º–∞ ",
    "Œ£": " —Å—É–º–º–∞ ",
    "$": " –¥–µ–Ω—å–≥–∏ ",
    "‚ÇΩ": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç¨": " –¥–µ–Ω—å–≥–∏ ",
    "¬•": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç©": " –¥–µ–Ω—å–≥–∏ ",
    "¬£": " –¥–µ–Ω—å–≥–∏ ",
}

for rule, word in rules.items():
    df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).replace(rule, word))

df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2715755.73it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2648590.67it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2669062.62it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2702154.33it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2738843.58it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2667387.94it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2735703.34it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2724649.57it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2681362.44it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2727937.39it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2699082.06it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–ö–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–î–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,–°–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–õ—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–û—á–∫–∏
...,...,...,...
415127,dataset/Dataset/data/35185/table_10,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
415128,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
415129,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415130,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415131,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3.1. To lower

In [46]:
df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).lower())
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:02<00:00, 2281691.60it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–¥–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,—Å–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–ª—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–æ—á–∫–∏
...,...,...,...
415127,dataset/Dataset/data/35185/table_10,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
415128,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
415129,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415130,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415131,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3.2 –∑–∞–º–µ–Ω–∞ —ë –Ω–∞ –µ

In [47]:
df_cleansed["column_name"] = df_cleansed["column_name"].str.replace("—ë", "–µ")

## 4. –£–¥–∞–ª–µ–Ω–∏–µ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞

In [48]:
# for i in df_cleansed.sort_values(by=["column_name"], ascending=False)["column_name"]:
#     print(i)

In [49]:
def remove_non_alphabetic_symbols(col_name: str) -> str:
    # return "".join(c for c in col_name if c.isalpha() or c == " ")
    # return "".join(c for c in col_name if "–ê" <= c <= "—è" or c == " ")
    for c in col_name:
        if not ("–∞" <= c <= "—è" or c == " "):
            col_name = col_name.replace(c, " ")
    return col_name
    # return "".join(c for c in col_name if "–∞" <= c <= "—è" or c == " ")

df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: remove_non_alphabetic_symbols(str(x)))
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:03<00:00, 1258292.46it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–¥–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,—Å–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–ª—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–æ—á–∫–∏
...,...,...,...
415127,dataset/Dataset/data/35185/table_10,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
415128,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
415129,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415130,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415131,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [50]:
len_le_2 = df_cleansed["column_name"].str.len() == 0
df_cleansed[len_le_2]

                                    table_id  column_id column_name
79795   dataset/Dataset/data/8289176/table_1          7
379229  dataset/Dataset/data/8113812/table_1          7

## 5. –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞ —Å—Ç–æ–ª–±—Ü–∞

In [51]:
df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).strip())
df_cleansed = df_cleansed[df_cleansed["column_name"] != ""]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801281/4801281 [00:01<00:00, 2761701.92it/s]

## 6. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ —Å—Ç–æ–ª–±—Ü–æ–≤, –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–π (–ø–æ –º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)

In [52]:
group_by_columns = [
    "—è–Ω–≤–∞—Ä—å",
    "—Ñ–µ–≤—Ä–∞–ª—å",
    "–º–∞—Ä—Ç",
    "–∞–ø—Ä–µ–ª—å",
    "–º–∞–π",
    "–∏—é–Ω—å",
    "–∏—é–ª—å",
    "–∞–≤–≥—É—Å—Ç",
    "—Å–µ–Ω—Ç—è–±—Ä—å",
    "–æ–∫—Ç—è–±—Ä—å",
    "–Ω–æ—è–±—Ä—å",
    "–¥–µ–∫–∞–±—Ä—å",
    "—è–Ω–≤",
    "—Ñ–µ–≤—Ä",
    "—Ñ–µ–≤",
    "–º–∞—Ä",
    "–∞–ø—Ä",
    "–∏—é–Ω",
    "–∏—é–ª",
    "–∞–≤–≥",
    "—Å–µ–Ω—Ç",
    "—Å–µ–Ω",
    "–æ–∫—Ç",
    "–Ω–æ—è",
    "–Ω–æ—è–±",
    "–¥–µ–∫",
]

In [53]:
s = 0
for col in group_by_columns:
    s += df_cleansed[df_cleansed["column_name"] == col].shape[0]
s

137389

In [54]:
for col in group_by_columns:
    group_by_mask = df_cleansed["column_name"] == col
    df_cleansed = df_cleansed[~group_by_mask]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–¥–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,—Å–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–ª—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–æ—á–∫–∏
...,...,...,...
415127,dataset/Dataset/data/35185/table_10,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
415128,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
415129,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415130,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415131,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [55]:
(df_cleansed["column_name"] == "—Ñ–µ–≤").sum()

0

## 7. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ –¥–ª–∏–Ω–æ–π <= 2

TODO: split count max len of word; if <= 2 -> drop

In [56]:

len_le_2 = df_cleansed["column_name"].str.len() <= 2
df_cleansed[len_le_2]

                                    table_id  column_id column_name
83      dataset/Dataset/data/7901984/table_1          2           –∏
84      dataset/Dataset/data/7901984/table_1          3           –≤
85      dataset/Dataset/data/7901984/table_1          4          –≤–ø
86      dataset/Dataset/data/7901984/table_1          5          –ø–ø
87      dataset/Dataset/data/7901984/table_1          6           –ø
...                                      ...        ...         ...
415114  dataset/Dataset/data/6418067/table_2          3           –≤
415115  dataset/Dataset/data/6418067/table_2          4           –Ω
415116  dataset/Dataset/data/6418067/table_2          5           –ø
415117  dataset/Dataset/data/6418067/table_2          6          –≥–∑
415118  dataset/Dataset/data/6418067/table_2          7          –≥–ø

[373595 rows x 3 columns]

In [57]:
df_cleansed = df_cleansed[~len_le_2]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–¥–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,—Å–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–ª—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–æ—á–∫–∏
...,...,...,...
415127,dataset/Dataset/data/35185/table_10,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
415128,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
415129,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415130,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
415131,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [58]:
df_cleansed = df_cleansed.reset_index().drop(["index"], axis=1)
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/3693708/table_0,0,–∫–æ–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä
1,dataset/Dataset/data/3693708/table_0,1,–¥–≤–∏–≥–∞—Ç–µ–ª—å
2,dataset/Dataset/data/3693708/table_0,2,—Å–µ–∑–æ–Ω—ã —É—á–∞—Å—Ç–∏—è
3,dataset/Dataset/data/3693708/table_0,3,–ª—É—á—à–∏–π—Ä–µ–∑—É–ª—å—Ç–∞—Ç
4,dataset/Dataset/data/3693708/table_0,4,–æ—á–∫–∏
...,...,...,...
3381729,dataset/Dataset/data/35185/table_10,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
3381730,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
3381731,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
3381732,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
3381733,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [117]:
from random import randint

rnd = randint(0, df_cleansed.shape[0])
df_cleansed.loc[rnd:rnd+10]

,table_id,column_id,column_name
129321,dataset/Dataset/data/979686/table_0,3,–ª–∞—É—Ä–µ–∞—Ç—ã
129322,dataset/Dataset/data/979686/table_0,4,—Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
129323,dataset/Dataset/data/1825597/table_0,0,–º–µ—Å—Ç–æ
129324,dataset/Dataset/data/1825597/table_0,1,—Å–ø–æ—Ä—Ç—Å–º–µ–Ω
129325,dataset/Dataset/data/1825597/table_0,2,—Å—Ç—Ä–∞–Ω–∞
129326,dataset/Dataset/data/1825597/table_0,3,–≤—Ä–µ–º—è
129327,dataset/Dataset/data/8169719/table_0,0,–º–µ—Å—Ç–æ
129328,dataset/Dataset/data/8169719/table_0,1,–∫–æ–º–ø–∞–Ω–∏—è
129329,dataset/Dataset/data/8169719/table_0,2,–¥–æ—Ö–æ–¥ –∑–∞ –≥ –º–ª–Ω –¥–æ–ª–ª
129330,dataset/Dataset/data/4780282/table_0,0,–≥–æ–¥
129331,dataset/Dataset/data/4780282/table_0,1,—Ç—É—Ä–Ω–∏—Ä

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –æ—á–∏—â–µ–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [60]:
import numpy as np

number_of_chunks = 10
for id, chunk in enumerate(np.array_split(df_cleansed, number_of_chunks)):
    chunk.to_csv(f"./cleansed/df_cleansed_{id}.csv", sep=";", index=False)

/home/kirilltobola/Dev/github.com/isp/cta/venv/lib/python3.11/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [61]:
# df_cleansed.to_csv("df_cleansed.csv", sep=";", index=False)