# –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
import pandas as pd

from tqdm import tqdm
tqdm.pandas()

In [2]:
df_list = []

for i in range(12):
    df_list.append(
        pd.read_csv(f"columns/out_{i}.csv", sep="‚áß", engine="python", quotechar='"', on_bad_lines="warn")
    )
df = pd.concat(df_list, axis=0)
df

Skipping line 48925: '‚áß' expected after '"'
Skipping line 48926: '‚áß' expected after '"'
Skipping line 48927: '‚áß' expected after '"'
Skipping line 343862: field larger than field limit (131072)

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/2863377/table_11_meta.json,0,Unnamed: 0
3,dataset/Dataset/data/2863377/table_11_meta.json,1,–ö–æ–º–∞–Ω–¥–∞
4,dataset/Dataset/data/2863377/table_11_meta.json,2,–ò
...,...,...,...
409524,dataset/Dataset/data/35185/table_5_meta.json,2,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –õ—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409525,dataset/Dataset/data/35185/table_5_meta.json,3,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ö—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409526,dataset/Dataset/data/35185/table_5_meta.json,4,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ú–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409527,dataset/Dataset/data/35185/table_5_meta.json,5,–î–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
409528,dataset/Dataset/data/35185/table_5_meta.json,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

# Research
---
–ü—Ä–æ–±–ª–µ–º–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã (—Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –Ω–µ –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å):
- –°—Ç–æ–ª–±—Ü—ã –ø–æ —Ç–∏–ø—É: "ŒîH–∫–∏–ø, –∫–î–∂¬∑–º–æ–ª—å‚àí1"
- –°—Ç–æ–ª–±—Ü—ã –∏—Å–ø–æ–ª—å–∑—É—é—â–∏–µ—Å—è –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∫–∞–∫–∏—Ö-–ª–∏–±–æ –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –≤—Ä–µ–º–µ–Ω–∏ (–º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)
- –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –∏–º–µ–Ω–∏
- –°—Ç–æ–ª–±—Ü—ã, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª–∞ (—á–∏—Å–ª–∞ –∏ —Ç.–ø.)
- –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã –∏ —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è

### –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è = 164500
–∏—Ö –º–æ–∂–Ω–æ –æ—Ç–ø—Ä–∞–≤–∏—Ç—å –≤ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫—É, —á—Ç–æ–±—ã –Ω–µ —Ç–µ—Ä—è—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. (–Ω—É–∂–Ω–æ –µ—â–µ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, —á—Ç–æ –≤–Ω—É—Ç—Ä–∏ –Ω–∏—Ö –æ–±—ã—á–Ω–æ –ª–µ–∂–∏—Ç)

### –ë–µ–∑ –∏–º–µ–Ω–∏
–º–æ–∂–Ω–æ –≤ —Ç–µ—Å—Ç

## .mv-parser... = 15661
–æ–±—Ä–µ–∑–∞—Ç—å —Ç–æ–ª—å–∫–æ –æ—Å–º—ã—Å–ª–µ–Ω–Ω—ã–π —Ç–µ–∫—Å—Ç

---

In [3]:
df["column_name"].value_counts()

column_name
–ì–æ–¥                   220620
–ú–µ—Å—Ç–æ                  87174
–†–æ–ª—å                   78968
–ö–æ–º–∞–Ω–¥–∞                67699
–ù–∞–∑–≤–∞–Ω–∏–µ               64943
                       ...
–ü–± –∑–∞ –∏–≥—Ä—É                 1
–ò–º—è –±–æ–∂–µ—Å—Ç–≤–∞               1
–ö—É–ª—å—Ç—É—Ä–∞ / –†–µ–ª–∏–≥–∏—è         1
∆è …ô                        1
–ù–æ—Ä—Ç–µ (Norte)              1
Name: count, Length: 125687, dtype: int64

## –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è

In [4]:
unnamed_columns = df["column_name"].apply(lambda x: str(x).startswith("Unnamed"))
df[unnamed_columns]

,table_id,column_id,column_name
2,dataset/Dataset/data/2863377/table_11_meta.json,0,Unnamed: 0
13,dataset/Dataset/data/4727026/table_0_meta.json,1,Unnamed: 1
17,dataset/Dataset/data/5212502/table_3_meta.json,0,Unnamed: 0
79,dataset/Dataset/data/473332/table_0_meta.json,1,Unnamed: 1
89,dataset/Dataset/data/3702093/table_0_meta.json,3,Unnamed: 3
...,...,...,...
409331,dataset/Dataset/data/171226/table_9_meta.json,4,Unnamed: 4
409366,dataset/Dataset/data/367669/table_11_meta.json,0,Unnamed: 0
409458,dataset/Dataset/data/730442/table_14_meta.json,12,Unnamed: 12
409459,dataset/Dataset/data/730442/table_14_meta.json,13,Unnamed: 13
409460,dataset/Dataset/data/730442/table_14_meta.json,14,Unnamed: 14

## –°—Ç–æ–ª–±—Ü—ã —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏: ".mw-parser..."

In [5]:
mv_parser = df["column_name"].apply(lambda x: str(x).strip().startswith(".mw-parser"))
df[mv_parser]

,table_id,column_id,column_name
151,dataset/Dataset/data/8071239/table_3_meta.json,0,.mw-parser-output .ts-comment-commentedText{bo...
983,dataset/Dataset/data/6799868/table_6_meta.json,0,.mw-parser-output .ts-comment-commentedText{bo...
1083,dataset/Dataset/data/6798417/table_0_meta.json,0,.mw-parser-output .ts-comment-commentedText{bo...
1284,dataset/Dataset/data/930522/table_0_meta.json,1,.mw-parser-output .ts-comment-commentedText{bo...
1593,dataset/Dataset/data/6426908/table_0_meta.json,6,.mw-parser-output .ts-comment-commentedText{bo...
...,...,...,...
406936,dataset/Dataset/data/7805760/table_2_meta.json,0,.mw-parser-output .ts-comment-commentedText{bo...
407609,dataset/Dataset/data/6401706/table_0_meta.json,6,.mw-parser-output .ts-comment-commentedText{bo...
408191,dataset/Dataset/data/6822002/table_43_meta.json,0,.mw-parser-output .ts-comment-commentedText{bo...
408375,dataset/Dataset/data/3100187/table_0_meta.json,0,.mw-parser-output .ts-comment-commentedText{bo...
408599,dataset/Dataset/data/4228413/table_3_meta.json,0,.mw-parser-output .ts-comment-commentedText{bo...

### –í –Ω–∞–∑–Ω–≤–∞–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è —á–µ–ª–æ–≤–µ–∫–æ–ø–æ–Ω—è—Ç–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ, –Ω—É–∂–Ω–æ –æ—Ç—á–∏—Å—Ç–∏—Ç—å –º—É—Å–æ—Ä–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [6]:
mv_parser_humnareadable_names = df[mv_parser]["column_name"].apply(lambda x: str(x).split("}")[-1])
mv_parser_humnareadable_names.unique()

array(['–ú', '–õ–∏–≥–∞', '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[1]', '–ò', ' –í', '–í', '‚Ññ', '–ò—Å—Ç.',
       '–ñ–µ—Ä—Ç–≤—ã', '15+15 –∫–º', '–ò.', '–ì–æ–¥', '–ö–∞—Ç', '¬±', '–ü–æ–∑.',
       '–°–∏–Ω—è—è —Å—Ç–æ—Ä–æ–Ω–∞', '–ü–ß', '–ù–∞—Å–µ–ª–µ–Ω–∏–µ[65]', '–ö–∞—Ç–µ–≥–æ—Ä–∏—è', 'Œ£',
       '–û—Ü–µ–Ω–∫–∞ D', 'Bib', '–≠—Ç–∞–ø', '–ò–≥—Ä', '–õ/–ö—Ä—É–≥–∏', '–û–ù', '–ü', '03/04',
       '–í-–ü', '02/03', '–°–°', '06/07', '–ü–∞–ª.', '–°', '11/12', '–ë–ö', '–î / –í',
       '–ü—Ä–∏–º.', ' –ò', '–•–ü', '–ü–æ–∑', '–ü—Ä.', '–°–£', '–õ.–∫—Ä—É–≥–∏', '08/09', '–ü.',
       '–ó', '#', '–ö–¢', '–ü–ü', 'Pos.', '–£—Ä–æ–≤.', '–ö–∞–Ω–¥–∑–∏', '–¢–¢–•',
       '7,5+7,5 –∫–º', '–ü–ª–æ—Ç–Ω–æ—Å—Ç—å(—á–µ–ª./–∫–º¬≤)', '–ü–æ–±', 'PPG',
       '–ß–∏—Å–ª–µ–Ω–Ω–æ—Å—Ç—å–≤–µ—Ä—É—é—â–∏—Ö–º–ª–Ω. —á–µ–ª–æ–≤–µ–∫', '–ü–æ—Ä—Ç—Ä–µ—Ç', '–§–∏–Ω–∞–ª', '–ö–ù',
       '–î–æ—Å—Ç—É–ø-–Ω–æ—Å—Ç—å', '–ì—Ä—É–ø–ø–∞', 'Ref', 'WR', '–û', '–ö—É–±–æ–∫',
       '–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–ù', '–ü–µ—Ä–∏–æ–¥', '–ü—Ä–∏–º–µ—á–∞–Ω–∏–µ',
       '–î–∞—Ç–∞ —Ä–æ–∂–¥–µ–Ω–∏—è', '–°–≠', '–ö–ß', '–û—á–∫–∏', '–¢–∞–∫–∂–µ –≤—ã—à–µ–ª', '–¢',
       '–ù–∞–∑–≤–∞–Ω–∏–µ –≤ –∑–∞—è–≤–∫–µ–Ω–∞ –Ω–æ–º–∏–Ω–∞—Ü–∏—é', '–ó–≤–∞–Ω–∏–µ', '–ú–µ—Å—Ç–æ', '–î–∏–≤.', 'No.',
       '–ì–æ–ª–æ—Å–æ–≤–∞–ª–æ', 'SPG', '–°–µ–π—á–∞—Å', '–ì—Ä.', '–ê-2010', '–û—á', '–í‚Äì–ü',
       ' –ü/–£', 'APG',
       '–î–æ–ª—è —É—á–µ–Ω–∏–∫–æ–≤ –ø–æ –æ–±—É—á–µ–Ω–∏—é –Ω–∞ —Ä—É—Å—Å–∫–æ–º –∏ –±–µ–ª–æ—Ä—É—Å—Å–∫–æ–º —è–∑—ã–∫–∞—Ö,\xa0%[42][39][43]:',
       '–î–Ω–µ–π', 'RPG', '‚Ññ –ø/–ø', 'HP', '–ö–ò', '–ü–µ–Ω', '99/00', '+/- (–≤\xa0%)',
       '–ó–Ω–∞–∫ —Ä–∞–∑–ª–∏—á–∏—è', 'GP', '–°–µ–∑–æ–Ω—ã', '–ó–∞–≤. ‚Ññ', '04/05', '–û—Ä–±–∏—Ç–∞',
       '–ú–∏–Ω—É—Ç', '–ö–≤–∞–ª–∏—Ñ–∏–∫–∞—Ü–∏—è', '–ú–∞—Ç—á–∏', '\xa0–í', 'G', '–ü–ö–ü', '14/15',
       '–ò–Ω–¥–∏–≤.', '–í—Å–µ–≥–æ –¥–µ–ø—É—Ç–∞—Ç–æ–≤', '–î–∞—Ç–∞', '–õ–ö', '–†–µ–∑.', '–ö–ü', '–ö–æ–ª.',
       '–£', '–†–µ–∑—É–ª—å—Ç–∞—Ç', '–ì—Ä-–≤–æ', '–û–ö–† –Ω–∞ 1000–∂–∏—Ç–µ–ª–µ–π', '–ê', '–†–µ–≥. —á–µ–º–ø.',
       '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è', '–£—á–∞—Å—Ç–∏—è –≤ —Ñ–∏–Ω–∞–ª—å–Ω—ã—Ö —Ç—É—Ä–Ω–∏—Ä–∞—Ö', '–ò—Å—Ç', '92/93',
       'Country Songs[A]', '–°–Ω.', '–ì–ü[69]', '–¶–≤–µ—Ç–∞ —É—á–∞—Å—Ç–Ω–∏—Ü', '–°—Ç—Ä.',
       '–ü–ª–µ–π-–æ—Ñ—Ñ', '–ì', '–ü–°–õ', '–í–£', '–ê–±–±—Ä.', '09/10', '15/16', '‚Ññ–∞–≤',
       '–î', 'MVP', '–°–±–æ—Ä–Ω—ã–µ', ' –ü–æ–∑.', 'Vref', '–ü–±',
       '–ì–æ–¥, —Å—Å—ã–ª–∫–∏,(‚Ññ —Ü–µ—Ä–µ–º–æ–Ω–∏–∏)', '–ú–µ–¥–∏–∞—Ñ–∞–π–ª—ã –Ω–∞\xa0–í–∏–∫–∏—Å–∫–ª–∞–¥–µ–ú–æ–¥–µ–ª—å',
       '–ö', '–î / –í / –ù', '–ì–ü[31]', '–ì–ü[67]', '–î–æ–º.', '–û—Ü–µ–Ω–∫–∞ T', '–°—Ç–∞–¥–∏—è',
       '–ì. —Ä.', '–¢–∏–ø –∞–¥–º. –µ–¥.', '10/11', 'Av.', '–î–æ–ª–∂–Ω–æ—Å—Ç—å / –¢–∏—Ç—É–ª',
       '–°—É–±—ä–µ–∫—Ç –†–§', '–ö–æ—ç—Ñ.', 'BPG', ' –û—Ç', '–ß–°', '–ë/–ù', '–î/–ì', '–û–ü',
       'Ref.', '–î–∂.', '–í won', '+', '–µ–¥. –∏–∑–º.', '–í–Ω–µ–±–∏—Ä–∂–µ–≤–æ–π —Ä—ã–Ω–æ–∫',
       '–ö–≤–∞–ª.', '–û–ø–∏—Å–∞–Ω–∏–µ', '–ö–æ—ç—Ñ—Ñ.', 'M', '–ò—Ç–æ–≥[1]', '–ú–µ–¥–∞–ª–∏', '–°–ø—Ä',
       '–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç', '–†–∞–∑–º–µ—Ä –¥–æ–∫–∞–ø–∏—Ç–∞–ª–∏–∑–∞—Ü–∏–∏', '–ó–∞—á.', '–ì–æ–ª/–ò–≥—Ä–∞', '–í–ú',
       '–ü—Ä–æ–∏–∑–≤.–∫–æ–¥', '12/13', '–°—Ç—Ä–∞–Ω–∞', '–°–ö–† (–æ–±—â–∏–π)', '–ì–æ–ª—ã', 'SP',
       'SP.1', '–ó—Ä–∏—Ç–µ–ª–∏', '–¶–µ—Ä–µ–º–æ–Ω–∏—è', '–°—Ç–∞—Ä—Ç', 'D2/D0', '‚Ññ –≤—Å–µ—Ä–∏–∞–ª–µ JAG',
       '–ù/–¥', '–ö–ù–°–û', '–ö—Ä', '–¢–ê (–ë–ö —Ç–æ—Ä–ø–µ–¥)', '–ö–æ–Ω—Ñ.', '+/-', '–†–∞–∑–Ω–∏—Ü–∞',
       '100 –º —Å/–±', 'TC2 winner', '–õ/–∫—Ä—É–≥–∏', '–ö–ê', '–ß–µ–º–ø–∏–æ–Ω—Å—Ç–≤–æ', '–ñ–ö',
       '–†–∞–∑', '–∏–Ω–æ—Å—Ç—Ä.', '–ê–¥–º–∏–Ω.—Ü–µ–Ω—Ç—Ä', '–í–æ–∑–¥.', '–î–µ–ª–æ', '–ú–°', 'TFP',
       '–í—ã—Å–æ—Ç–∞,\xa0–º', '–ö–ª—É–±—ã', '‚Ññ‚Ññ', '–ö–†–°', '–¢—Ä–µ–Ω–µ—Ä', '–ü—Ä–æ—Ñ. –ø–µ—Ä–∏–æ–¥',
       '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[4]', '–û–° –ú–°–û–ü', '–ò, –°', '–í—ã–±—ã–ª–∞', '–î/–≥', '–ü–æ–±–µ–¥–∞',
       '–ò—Ç–æ–≥–æ', '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç–Ω—ã—Ö –ø–æ–∫–∞–∑–æ–≤ (–º–ª–Ω)',
       '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è –æ—Ä–¥–µ–Ω–∞', '–ë/–ö—Ä—É–≥–∏', '–ò–µ—Ä.', '25 –º', '–°–£, –∫–º',
       '–°–ö', '96/97', '–ü–®', '–¢–∏–ø', '–ú–µ—Å—Ç–æ/—Ç—É—Ä', '10 –∫–º', '–§–∞–∑–∞',
       '–ì–æ–¥—ã –∂–∏–∑–Ω–∏', '–ö–°', '78/79', '–ù–∏–∫', '–ò—Å.', 'N', '–ü–µ—Ä.', '–ò–ì–†',
       '17/18', '–ö–∞—Ç.', '–ú–ì', '–ò–∑–±–∏—Ä–∞—Ç–µ–ª–µ–π', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.1',
       '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.2', '–ù–æ–º.', '–ì–ó', '–ß–†', '–û—Ü–µ–Ω–∫–∞ E', '–û–°–ò', '–ü–æ—É–ª',
       '–õ–∞—É—Ä–µ–∞—Ç—ã', '–≠—Ç–∞–ø—ã', '–ù–æ–º–µ—Ä —É–∫–∞–∑–∞', '–†–°', '–ü–∞—Å—Å.,–º–ª–Ω', '–ù.',
       '–ì–æ–¥ (–Ω–∞—á.)', '–î–ë', '–ì–æ—Ä–æ–¥–∞ –û–ü', '–£—á–∞—Å—Ç–∏—è –≤ –†–µ—Å—Ç–ª–º–∞–Ω–∏—è—Ö', '–û—Ç—á—ë—Ç',
       '–ì–ü', 'RSKP', '–°–†', '–î—Ä–µ–≤–Ω.', '89/90', '–î–∏–≤–∏–∑–∏–æ–Ω', 'TA', '–¥–ª–∏–Ω–∞',
       '–ö-–≤–æ', '–ú–ö–ó', '–ó–∞—è–≤–ª–µ–Ω–∏–µ –æ–± —É—á–∞—Å—Ç–∏–∏', '–ù–∞—Ü', '–ò–∑–¥.',
       '–û—Ü–µ–Ω–∫–∞ –∑–∞ —Ç—Ä—É–¥–Ω–æ—Å—Ç—å', '–ó–ú', '–í–æ–∑—Ä–∞—Å—Ç', '–ë–≠', '–î–∞—Ç–∞ –Ω–∞—á–∞–ª–∞ –≤–æ–ª–Ω—ã',
       '–ú.', '–ù–∞—É—á–Ω—ã–µ —Å—Ç–µ–ø–µ–Ω–∏ –∏ –∑–≤–∞–Ω–∏—è', '–ú/–ë', '% –í', '–§–ò–û',
       '–õ—É—á—à–∏–π –Ω–æ–≤–∏—á–æ–∫', '–°–±', '–ö–ü–ë', '–ê–≤—Ç–æ', '–ù–¢ –ò–Ω–¥. —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è',
       'SS', '–†–µ–ª–∏–≥–∏—è', '–ü—Ä–æ—á–∏–µ', '–°–≥—Ä', '07/08', '–î–ù–ü', '',
       '–ü–µ—Ä. —ç–∫—Å–ø–ª—É–∞—Ç.', 'W', '–í —Å—Ä.', '–û–∫—Ä—É–≥', '–î–æ–ª—è, %', '–î–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç',
       '–†–µ–ª–∏–∑', '–°—Å—ã–ª.', '–û–ß–ú', '–î–æ–ª–∂–Ω–æ—Å—Ç—å', '–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Å–æ–∑–≤–µ–∑–¥–∏—è',
       '–°–ü', '–ö–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã', '–û–ò–ö', 'C', '–ë—ã—Å—Ç—Ä—ã–π –∫—Ä—É–≥', 'PR', '–≠/–±',
       '–†–∞–Ω–≥[~ 1]', '–ù–∞—Å–µ–ª–µ–Ω–∏–µ', '–ö–æ–º–∞–Ω–¥—ã', '–¥/–≥', '–ö–æ–¥', '–ú–Ω–æ–≥–æ–±–æ—Ä—å–µ',
       '–ù–µ–∑–∞–≤–∏—Å–∏–º—ã–π –ø–æ–±–µ–¥–∏—Ç–µ–ª—å', '–ü–∏–∫', '–ö–ú', 'Pld', '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥',
       '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥.1', '–í—Å–µ–≥–æ', '–ú–£', '–ü—Ä–æ–ø—É—â–µ–Ω–æ', '–õ. –∫—Ä—É–≥–∏',
       '–ù–æ—Ä–≤–µ–∂—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–†–µ–π—Ç–∏–Ω–≥', 'RCT', '–ö–æ–º–º.', ' ‚ôÜ', 'SOS',
       '–ó—Ä–∏—Ç–µ–ª–µ–π', 'bib', '100 –º', '–û—Ñ. ITV —Ä–µ–π—Ç–∏–Ω–≥(–º–ª–Ω)[1]', '–ß. –∏. —Å.',
       '–ò–ª–ª.', '–ì–æ–ª—ã (–ü)', '–í—ã–±—ã–ª–∏', '–ü.–Ω.', '–ö–æ—ç—Ñ—Ñ.[1]', '–ù/–æ'],
      dtype=object)

## –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã / —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è / –º–µ—Ä—ã (–∫–≥, –∫–¥–∂.)

In [7]:
# TODO: what should i do? -_-

## –ó–∞–≥–æ–ª–æ–≤–∫–∏, —Å–æ—Å—Ç–æ—è—â–∏–µ –∏–∑ –æ–¥–Ω–æ–π –±—É–∫–≤—ã

In [8]:
no_word_in_header = df["column_name"].str.len() < 2
df[no_word_in_header]["column_name"].unique()

array(['–ò', '–í', '–ù', '–ü', '+', '‚àí', '=', '#', '¬±', '–û', '‚Ññ', '–®', '1',
       '2', '3', '4', '5', '6', '7', '8', '9', 'M', '–ú', '–ì', '–°', 'B',
       'F', 'm', '%', 'W', 'L', '-', 'N', 'V', 'E', '–ë', 'Œî', '–î', '–Ω',
       '–ö', '–ó', '0', '–†', '–Ø', '¬´', '¬ª', 'Â≠∏', '–¢', '–ê', 'T', 'I', '–§',
       '–õ', 'A', 'C', 'D', '√§', 'i', 'a', 'e', '…ô', 'G', '‡∞Ö', '‡∞Ü', '‡∞á',
       '‡∞à', '‡∞â', '‡∞ä', '‡∞ã', '‡±†', '‡∞å', '‡±°', '‡∞é', '‡∞è', '‡∞ê', '‡∞í', '‡∞ì', '‡∞î',
       '√Å', '»∫', 'ƒÜ', '»ª', 'H', 'n', 'b', 'c', 'd', 'f', 'g', 'h', 'k',
       'l', 'P', 'K', 'y', '‚Ä¶', '√ó', 'œá', 's', '_', '√¢', 'p', '*', 'R',
       'X', '‚Ä¢', 'u', 'o', '–≠', 'Œ£', '–ñ', 'Œµ', 'Z', 'J', 'O', 'Q', 'S',
       'U', 'Y', 'q', '–ß', 'x', 'z', 'Œ±', 'Œ≤', 'Œ¥', ' æ', 'w', ' ø', '·π≠',
       '·π£', '·∏ç', '–•', '–£', 'j', 't', ' º', 'Œ∫', '‡§ï', '‡§ñ', '‡§ó', '‡§ò', '‡§ô',
       '—Å', '‚àß', '–ï', '–¨', '‚Äî', '⁄ö', '⁄ñ', '⁄Ö', '⁄Å', '⁄ò', 'ƒÅ', 'Í§¢', 'Í§£',
       'Í§§', 'Í§•', '<', '>', '—è', '—Ñ', '–º', '–∞', '–∏', '–æ', '–¥', ' §', 'ëÑ∂',
       'ëÑ∑', 'ëÑ∏', 'ëÑπ', 'ëÑ∫', 'ëÑª', 'ëÑº', 'ëÑΩ', 'ëÑæ', 'ëÑø', '‚Äô', '‚Üï', '‡§Ö', '‡§Ü',
       '‡§á', '‡§à', '‡§â', '‡§ä', '‡§è', '‡§ê', '‡§ì', '‡§î', '‚Ç®', '·∏•', 'r', '·∏≥', '·∏´',
       '‚Ç£', '‡≤Ö', '‡≤Ü', '‡≤á', '‡≤à', '‡≤â', '‡≤ä', '‡≤ã', '‡≥†', '‡≤é', '‡≤è', '‡≤ê', '‡≤í',
       '‡≤ì', '‡≤î', '·ùÄ', '·ùÉ', '·ùã', '·ùÑ', '·ùÖ', '·ùÜ', '·ùá', '·ùà', '·ùâ', '·ùä', '·ùå',
       '·ùç', '·ùé', '·ùè', '·ùê', '·ùë', 'Œ≥', '√∏', 'ƒÄ', '–≤', '–ø', ',', '.', '?',
       '!', ';', ':', '…î', 'Œ†', 'Í§ä', 'Í§ã', 'Í§å', 'Í§ç', 'Í§é', 'Í§è', 'Í§ê', 'Í§ë',
       '‚àë', '√ò', 'v', 'ëÑÉ', 'ëÑÑ', 'ëÑÖ', 'ëÑÜ', ' ä', '…µ', '…Æ', ' É', '‡ÆÖ', '‡ÆÜ',
       '‡Æá', '‡Æà', '‡Æâ', '‡Æä', '‡Æé', '‡Æè', '‡Æê', '‡Æí', '‡Æì', '‡Æî', '⁄Ñ', 'ÿ¨', 'Ÿæ',
       'ÿ´', 'Ÿ∫', 'ŸΩ', 'Ÿø', 'ÿ™', '⁄Ä', 'Ÿª', 'ÿ®', 'ÿß', '$', '¬∑', 'Œë', 'Œí',
       'Œì', 'Œï', 'œú', 'Œñ', 'Œó', 'Œò', 'Œô', 'Œö', 'Œõ', 'Œú', 'Œù', 'Œû', 'Œü',
       'œò', 'Œ°', 'Œ§', 'Œ•', 'Œ¶', 'Œß', 'Œ®', 'Œ©', 'œ†', '‚à®', 'Œ∂', 'Œ∑', 'Œ∏',
       'Œπ', 'Œª', 'Œº', 'ŒΩ', 'Œæ', 'Œø', 'œÄ', 'œÅ', 'œÉ', 'œÑ', 'œÖ', 'œÜ', 'œà',
       'œâ', '‚Üõ', 'Â∞á', 'Âºµ', '‚âà', '„Ñè', '√©', '…®', '·πü', ' â', "'", '^', '‡§ã',
       '‡•†', '‡§å', '‡•°', '√º', '–Å', '–ô', '–¶', '–©', '–™', '–´', '–Æ', 'Àá', '¬¥',
       'Àò', '‚Üí', '‚àû', 'Â≠ó', '/', '≈´', 'ëÑá', 'ëÑà', 'ëÑâ', 'ëÑä', 'ëÑã', 'ëÑå', 'ëÑç',
       'ëÑé', 'ëÑè', 'ëÑê', 'ëÑë', 'Êàë', '—É', '—ç', '—é', '—ë', '¬¨', '–∂', '…ì', '…ó',
       ' î', '…≤', '≈ã', ' ã', '«ß', '‚Üê', '‚Üî', 'ÿ∞', '⁄à', 'ÿØ', 'ÿÆ', 'ÿ≠', '⁄Ü',
       'Ÿπ', '–µ', '–±', '“∂', '“∑', 'Í§Ä', 'Í§Å', 'Í§Ç', 'Í§É', 'Í§Ñ', 'Í§Ö', 'Í§Ü', 'Í§á',
       'Í§à', 'Í§â', '…õ', '}', '·•Ü', '·•á', '·•à', '·•â', '·•ä', '·•ã', '·•å', '·•ç', '·•é',
       '·•è', '…£', 'ƒ≠', '”ò', '“í'], dtype=object)

# –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

---
1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö ".mv-parser.."
2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞
3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞ (‚Ññ, $, %, –∏ —Ç.–ø.)
4. –û—á–∏—Å—Ç–∫–∞ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞
5. –£–¥–∞–ª–µ–Ω–∏–µ –ª–∏—à–Ω–∏—Ö –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞
---

In [9]:
df_cleansed = df.copy()

## 1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤

In [10]:
def clean_mv_parser(col_name: str) -> str:
    if col_name.strip().startswith(".mw-parser"):
        return col_name.split("}")[-1]
    return col_name

df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: clean_mv_parser(str(x)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4966161/4966161 [00:02<00:00, 2454835.55it/s]

In [11]:
df_cleansed[mv_parser]

,table_id,column_id,column_name
151,dataset/Dataset/data/8071239/table_3_meta.json,0,–ú
983,dataset/Dataset/data/6799868/table_6_meta.json,0,–ú
1083,dataset/Dataset/data/6798417/table_0_meta.json,0,–ú
1284,dataset/Dataset/data/930522/table_0_meta.json,1,–õ–∏–≥–∞
1593,dataset/Dataset/data/6426908/table_0_meta.json,6,–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[1]
...,...,...,...
406936,dataset/Dataset/data/7805760/table_2_meta.json,0,–ú
407609,dataset/Dataset/data/6401706/table_0_meta.json,6,–î–æ—Å—Ç—É–ø-–Ω–æ—Å—Ç—å
408191,dataset/Dataset/data/6822002/table_43_meta.json,0,–ú
408375,dataset/Dataset/data/3100187/table_0_meta.json,0,–ú
408599,dataset/Dataset/data/4228413/table_3_meta.json,0,–ú

## 2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞

In [12]:
unnamed_columns = df_cleansed["column_name"].str.startswith("Unnamed")
df_cleansed = df_cleansed[~unnamed_columns]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
3,dataset/Dataset/data/2863377/table_11_meta.json,1,–ö–æ–º–∞–Ω–¥–∞
4,dataset/Dataset/data/2863377/table_11_meta.json,2,–ò
5,dataset/Dataset/data/2863377/table_11_meta.json,3,–í
...,...,...,...
409524,dataset/Dataset/data/35185/table_5_meta.json,2,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –õ—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409525,dataset/Dataset/data/35185/table_5_meta.json,3,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ö—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409526,dataset/Dataset/data/35185/table_5_meta.json,4,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ú–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409527,dataset/Dataset/data/35185/table_5_meta.json,5,–î–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
409528,dataset/Dataset/data/35185/table_5_meta.json,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

## 3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞

In [13]:
def remove_alphabetic_symbols(col_name: str) -> str:
    restricted_symbols = [
        "(", 
        ")", 
        "+", 
        "-", 
        "[", 
        "]", 
        "/", 
        ".", 
        ",", 
        "@", 
        "{", 
        "}", 
        "¬´", 
        "¬ª", 
        "<", 
        ">", 
        ":", 
        ";", 
        "'",
        "*",
        "?",
        "!",
        "-",
        "_"
    ]
    return "".join(c for c in col_name if not c.isalpha() and not c.isdigit() and not c.isspace() and c not in restricted_symbols)

non_alpha = df_cleansed["column_name"].progress_apply(lambda x: remove_alphabetic_symbols(str(x)))
non_alpha.unique()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:04<00:00, 1026750.08it/s]

array(['', '‚Ç¨', '‚àí', '=', '‚Ññ', '#', '¬±', '%', '‚Äî', '‚Äì', '$', '¬∞', '\\',
       '‚Ä¶', '""', '\\‚Ññ', '‚Ä¢‚Ä¢', '‚àÖ', '|', '‚âà', '¬∑', '‡•ç', '‚Äô', '%%', '\xad',
       '‚äï', '&', 'À¶', 'À©', 'ÀßÀ©', 'À•Àß', 'À•', '‚Ä∞', '‚Äú‚Äù', '~%', '‡∞Å', '‡∞Ç',
       '‡∞É', '‚Äî‚Äî', '~', '√ó', '¬£', '‚ãÖ', '&&', '=""', '¬•', '#Ô∏è‚É£', '‚â°', '¬¨',
       '‚Ä¢', '‚Ññ‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Ññ‚Ññ‚Äî', '"', '‚äô', '\xad\xad', '‚Üí‚Üì', '""|&',
       '¬∞‚Äî', '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '\xad\xad\xad', '‚Äô%', '%%%%%%', '‚Ä¢‚Äî',
       '‚Ä°', '‚Äì‚Äì', '‚Ññ‚Ññ', '%‚Äî', '‚àí‚àí', '‚òÖ', '¬∑‚àí', '¬Ω', '¬º', '‚ñº‚ñ≤%', '‚Ä†',
       '====', '√ó√ó', '%%%%%%%%', '‚àû', '‚â•', '\x7f"``"\x7f', '‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶',
       'ÃÅ', '¬Ω¬Ω', '‚Üí', '%‚Äì', '‚Ññ\\', '‚áÖ', '¬±%', '‚Äì%',
       '\xad\xad\xad\xad\xad', '\xad\xad\xad\xad', '¬∞¬∑', 'Í§´', 'Í§¨', 'Í§≠',
       '‚Äô‚Äî', '√ó‚àí', '=ÃÖ', '‚ôÇ', '‚ôÄ', '‚àß', '‚Äî‚Äî‚Äî', '$$', '‚àÜ%', 'Ôºö', '√ó‚Åª',
       '\u200e', '‚àí¬∑', '‚Ä≤‚Ä≤', '‚†Ä', '¬ß', 'Í§¶', 'Í§ß', 'Í§®', 'Í§©', 'Í§™', '‚Üì‚Üí',
       '‚â•¬∞', '‚â§¬∞', 'ÃÅÃÅ', '‚Ç©', '=%', '‚Äî‚Ä¶', '‚Üì¬∑‚Üí', '%¬±', '‚ñº', '||', '‚Äô‚Äô',
       '‚Üï', '‚ÇΩ', '‚Ç®', '%~', '|||', '¬∑¬∞', '‚Ç£', '‡≤Ç', '‡≤É', '‚Äî¬∞', '‚Äô‚Äô‚Äô', '√ó‚Äù',
       'Ôøº', '√∑', '‚òâ', '^', '√ó=', '‚àë', '‚Üì', '%%%%‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚Äî#&~', 'Õ°',
       '‚Äë', '################', 'Ã±', '‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '=‚àí', '‚Ññ‚Äî', '&‚Äô',
       '‚Äî%', '&‚Äì', '=‚Äî', '‚à®', '‚Ññ‚Üí‚Üì', '#&', 'Ôºà', '%¬∞', '‚â§%%√∑%%√∑%%',
       '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚àí¬∑‚àí', '‚àû‚àû', '‚Üõ', '""""', '==', '‚Ä¢‚Ä¢‚Ä¢', '¬±¬∞', '‚Üë',
       '‚àû‚àû‚àû', '`', '‡§Ç', '‡§É', '&$', '√∑%', 'ÃÉ', '‚àô‚àí', '‚àô‚àô‚àí', '%‚àí', 'Ã®', '¬¥',
       'Àò', '===', '‚àí%', '%‚Ññ', 'ÃÅÃÅÃÅÃÅ', 'Ã±Ã±', '‚Ä≤', '‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Äî‚Äî‚Ññ‚Äî‚Ññ',
       '¬±¬±¬∑¬±¬±', '‚Ññ#', '‚ôÅ', 'Ã∞Ã∞', '‚Üê', '‚Üî', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '##', 'ÔºàÔºâ', '‚â§',
       'ÃàÃà', '‚àí‚àí‚àí‚àí', '=^', '‚ñº¬ß', '‚Äò‚Äô', '====¬∞', '‚àº', '¬∂', '„ÄÇÔºàÔºâ„ÄÇ„ÄÇÔºàÔºâ„ÄÇ',
       '¬∑¬∑', '#|', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '‚Ä¶‚Äî‚Äî', '‚Ä¶‚Äî‚Äî‚Äò', '¬∑‚àí¬∑‚àí', '‚Ä¢&', '‚Äî‚Äì', '‚Äò‚Ä¶‚Äô',
       '$&', 'ÃÑÃÑ', '‚ôÜ', '~‚Äî^‚Äî', 'ëÑß', 'ëÑ®', 'ëÑ©', 'ëÑ™', 'ëÑ´', 'ëÑ¨', 'ëÑÆ', 'ëÑ≠',
       'ëÑØ', '‚Ññ&', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '‚Äî%‚Äî%‚Äî%'], dtype=object)

In [14]:
# # - —Ç–æ–∂–µ –Ω–æ–º–µ—Ä –∏–ª–∏ –Ω–µ –≤—Å–µ–≥–¥–∞
# –ú–Ω–æ–≥–æ –∑–Ω–∞–∫–æ–≤ —Ä–∞–≤–µ–Ω—Å—Ç–≤–∞, —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –≤ —Å—Ç–æ–ª–±—Ü–µ —á–∏—Å–ª–æ –ª–µ–∂–∏—Ç, –º–æ–∂–Ω–æ —Ç–æ–∂–µ —É–∫–∞–∑–∞—Ç—å
rules = {
    "‚Ññ": " –Ω–æ–º–µ—Ä ",
    "%": " –ø—Ä–æ—Ü–µ–Ω—Ç ",
    "‚àÜ": " —á–∏—Å–ª–æ ",
    "‚àë": " —Å—É–º–º–∞ ",
    "Œ£": " —Å—É–º–º–∞ ",
    "$": " –¥–µ–Ω—å–≥–∏ ",
    "‚ÇΩ": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç¨": " –¥–µ–Ω—å–≥–∏ ",
    "¬•": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç©": " –¥–µ–Ω—å–≥–∏ ",
    "¬£": " –¥–µ–Ω—å–≥–∏ ",
}

for rule, word in rules.items():
    df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).replace(rule, word))

df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2800067.72it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2756391.18it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2840660.96it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2841669.80it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2843576.80it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2755571.28it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2827031.88it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2811738.25it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2745473.67it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2827442.66it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2752549.37it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
3,dataset/Dataset/data/2863377/table_11_meta.json,1,–ö–æ–º–∞–Ω–¥–∞
4,dataset/Dataset/data/2863377/table_11_meta.json,2,–ò
5,dataset/Dataset/data/2863377/table_11_meta.json,3,–í
...,...,...,...
409524,dataset/Dataset/data/35185/table_5_meta.json,2,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –õ—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409525,dataset/Dataset/data/35185/table_5_meta.json,3,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ö—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409526,dataset/Dataset/data/35185/table_5_meta.json,4,–î–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ú–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409527,dataset/Dataset/data/35185/table_5_meta.json,5,–î–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
409528,dataset/Dataset/data/35185/table_5_meta.json,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

## 3.1. To lower

In [15]:
df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).lower())
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:02<00:00, 2323583.39it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,—á–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
3,dataset/Dataset/data/2863377/table_11_meta.json,1,–∫–æ–º–∞–Ω–¥–∞
4,dataset/Dataset/data/2863377/table_11_meta.json,2,–∏
5,dataset/Dataset/data/2863377/table_11_meta.json,3,–≤
...,...,...,...
409524,dataset/Dataset/data/35185/table_5_meta.json,2,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ª—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409525,dataset/Dataset/data/35185/table_5_meta.json,3,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409526,dataset/Dataset/data/35185/table_5_meta.json,4,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –º–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409527,dataset/Dataset/data/35185/table_5_meta.json,5,–¥–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
409528,dataset/Dataset/data/35185/table_5_meta.json,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

## 4. –£–¥–∞–ª–µ–Ω–∏–µ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞

In [16]:
# for i in df_cleansed.sort_values(by=["column_name"], ascending=False)["column_name"]:
#     print(i)

In [17]:
def remove_non_alphabetic_symbols(col_name: str) -> str:
    # return "".join(c for c in col_name if c.isalpha() or c == " ")
    # return "".join(c for c in col_name if "–ê" <= c <= "—è" or c == " ")
    return "".join(c for c in col_name if "–∞" <= c <= "—è" or c == " ")

df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: remove_non_alphabetic_symbols(str(x)))
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:05<00:00, 893646.15it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
3,dataset/Dataset/data/2863377/table_11_meta.json,1,–∫–æ–º–∞–Ω–¥–∞
4,dataset/Dataset/data/2863377/table_11_meta.json,2,–∏
5,dataset/Dataset/data/2863377/table_11_meta.json,3,–≤
...,...,...,...
409524,dataset/Dataset/data/35185/table_5_meta.json,2,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ª—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409525,dataset/Dataset/data/35185/table_5_meta.json,3,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409526,dataset/Dataset/data/35185/table_5_meta.json,4,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –º–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
409527,dataset/Dataset/data/35185/table_5_meta.json,5,–¥–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
409528,dataset/Dataset/data/35185/table_5_meta.json,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

## 5. –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞ —Å—Ç–æ–ª–±—Ü–∞

In [18]:
df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).strip())
df_cleansed = df_cleansed[df_cleansed["column_name"] != ""]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801706/4801706 [00:01<00:00, 2973186.85it/s]

## 6. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ —Å—Ç–æ–ª–±—Ü–æ–≤, –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–π (–ø–æ –º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)

In [59]:
group_by_columns = [
    "—è–Ω–≤–∞—Ä—å",
    "—Ñ–µ–≤—Ä–∞–ª—å",
    "–º–∞—Ä—Ç",
    "–∞–ø—Ä–µ–ª—å",
    "–º–∞–π",
    "–∏—é–Ω—å",
    "–∏—é–ª—å",
    "–∞–≤–≥—É—Å—Ç",
    "—Å–µ–Ω—Ç—è–±—Ä—å",
    "–æ–∫—Ç—è–±—Ä—å",
    "–Ω–æ—è–±—Ä—å",
    "–¥–µ–∫–∞–±—Ä—å",
    "—è–Ω–≤",
    "—Ñ–µ–≤—Ä",
    "—Ñ–µ–≤",
    "–º–∞—Ä",
    "–∞–ø—Ä",
    "–∏—é–Ω",
    "–∏—é–ª",
    "–∞–≤–≥",
    "—Å–µ–Ω—Ç",
    "—Å–µ–Ω",
    "–æ–∫—Ç",
    "–Ω–æ—è",
    "–Ω–æ—è–±",
    "–¥–µ–∫",
]

In [60]:
s = 0
for col in group_by_columns:
    s += df_cleansed[df_cleansed["column_name"] == col].shape[0]
s

21992

In [61]:
for col in group_by_columns:
    group_by_mask = df_cleansed["column_name"] == col
    df_cleansed = df_cleansed[~group_by_mask]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/2863377/table_11_meta.json,1,–∫–æ–º–∞–Ω–¥–∞
3,dataset/Dataset/data/2863377/table_11_meta.json,9,–æ—á–∫–∏
4,dataset/Dataset/data/4727026/table_0_meta.json,0,–≥–æ–¥
...,...,...,...
3393465,dataset/Dataset/data/35185/table_5_meta.json,2,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ª—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3393466,dataset/Dataset/data/35185/table_5_meta.json,3,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3393467,dataset/Dataset/data/35185/table_5_meta.json,4,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –º–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3393468,dataset/Dataset/data/35185/table_5_meta.json,5,–¥–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
3393469,dataset/Dataset/data/35185/table_5_meta.json,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

In [62]:
(df_cleansed["column_name"] == "—Ñ–µ–≤").sum()

0

## 7. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ –¥–ª–∏–Ω–æ–π <= 2

In [63]:
len_le_2 = df_cleansed["column_name"].str.len() <= 2
df_cleansed[len_le_2]

Empty DataFrame
Columns: [table_id, column_id, column_name]
Index: []

In [64]:
df_cleansed = df_cleansed[~len_le_2]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/2863377/table_11_meta.json,1,–∫–æ–º–∞–Ω–¥–∞
3,dataset/Dataset/data/2863377/table_11_meta.json,9,–æ—á–∫–∏
4,dataset/Dataset/data/4727026/table_0_meta.json,0,–≥–æ–¥
...,...,...,...
3393465,dataset/Dataset/data/35185/table_5_meta.json,2,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ª—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3393466,dataset/Dataset/data/35185/table_5_meta.json,3,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3393467,dataset/Dataset/data/35185/table_5_meta.json,4,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –º–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3393468,dataset/Dataset/data/35185/table_5_meta.json,5,–¥–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
3393469,dataset/Dataset/data/35185/table_5_meta.json,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

In [65]:
df_cleansed = df_cleansed.reset_index().drop(["index"], axis=1)
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0_meta.json,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0_meta.json,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/2863377/table_11_meta.json,1,–∫–æ–º–∞–Ω–¥–∞
3,dataset/Dataset/data/2863377/table_11_meta.json,9,–æ—á–∫–∏
4,dataset/Dataset/data/4727026/table_0_meta.json,0,–≥–æ–¥
...,...,...,...
3371473,dataset/Dataset/data/35185/table_5_meta.json,2,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –ª—é–±–µ–∫—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3371474,dataset/Dataset/data/35185/table_5_meta.json,3,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—É–ª—å–º—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3371475,dataset/Dataset/data/35185/table_5_meta.json,4,–¥–∞—Ç–∞ –ø–æ–ª—É—á–µ–Ω–∏—è –º–∞–≥–¥–µ–±—É—Ä–≥—Å–∫–æ–≥–æ –ø—Ä–∞–≤–∞
3371476,dataset/Dataset/data/35185/table_5_meta.json,5,–¥–∞—Ç–∞ –≤—Å—Ç—É–ø–ª–µ–Ω–∏—è –≤ —Å–æ—é–∑
3371477,dataset/Dataset/data/35185/table_5_meta.json,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞

In [95]:
from random import randint

rnd = randint(0, df_cleansed.shape[0])
df_cleansed.loc[rnd:rnd+10]

,table_id,column_id,column_name
2329947,dataset/Dataset/data/1723357/table_3_meta.json,0,—Å–µ–∑–æ–Ω—ã
2329948,dataset/Dataset/data/1723357/table_3_meta.json,1,–º–∞—Ç—á–∏
2329949,dataset/Dataset/data/1723357/table_3_meta.json,2,–ø–æ–±–µ–¥—ã
2329950,dataset/Dataset/data/1723357/table_3_meta.json,3,–Ω–∏—á—å–∏
2329951,dataset/Dataset/data/1723357/table_3_meta.json,4,–ø–æ—Ä–∞–∂–µ–Ω–∏—è
2329952,dataset/Dataset/data/1723357/table_3_meta.json,5,–∑–∞–±–∏—Ç—ã–µ –≥–æ–ª—ã
2329953,dataset/Dataset/data/1723357/table_3_meta.json,6,–ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –≥–æ–ª—ã
2329954,dataset/Dataset/data/1796802/table_1_meta.json,0,–≥–æ–¥
2329955,dataset/Dataset/data/1796802/table_1_meta.json,1,–≤—ã—à–ª–∏ –≤–æ –≤—Ç–æ—Ä–æ–π –¥–∏–≤–∏–∑–∏–æ–Ω
2329956,dataset/Dataset/data/1796802/table_1_meta.json,2,–≤—ã—à–ª–∏ –≤–æ –≤—Ç–æ—Ä–æ–π –¥–∏–≤–∏–∑–∏–æ–Ω
2329957,dataset/Dataset/data/7096455/table_0_meta.json,0,–≥–æ–¥

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –æ—á–∏—â–µ–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [96]:
df_cleansed.to_csv("df_cleansed.csv", sep=";", index=False)