# –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
import pandas as pd
import re

from tqdm import tqdm
tqdm.pandas()

In [2]:
df_list = []

for i in range(12):
    df_list.append(
        pd.read_csv(f"../collecting/columns_headers/headers_{i}.csv", sep="‚áß", engine="python", quotechar='"', on_bad_lines="warn")
    )
df = pd.concat(df_list, axis=0)
df

Skipping line 49505: '‚áß' expected after '"'
Skipping line 49506: '‚áß' expected after '"'
Skipping line 49507: '‚áß' expected after '"'
Skipping line 345854: field larger than field limit (131072)

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–ì–æ–¥
3,dataset/Dataset/data/4022432/table_0,1,Unnamed: 1
4,dataset/Dataset/data/4022432/table_0,2,–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

# Research
---
–ü—Ä–æ–±–ª–µ–º–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã (—Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –Ω–µ –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å):
- –°—Ç–æ–ª–±—Ü—ã –ø–æ —Ç–∏–ø—É: "ŒîH–∫–∏–ø, –∫–î–∂¬∑–º–æ–ª—å‚àí1"
- –°—Ç–æ–ª–±—Ü—ã –∏—Å–ø–æ–ª—å–∑—É—é—â–∏–µ—Å—è –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∫–∞–∫–∏—Ö-–ª–∏–±–æ –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –≤—Ä–µ–º–µ–Ω–∏ (–º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)
- –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –∏–º–µ–Ω–∏
- –°—Ç–æ–ª–±—Ü—ã, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª–∞ (—á–∏—Å–ª–∞ –∏ —Ç.–ø.)
- –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã –∏ —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è

### –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è = 164500
–∏—Ö –º–æ–∂–Ω–æ –æ—Ç–ø—Ä–∞–≤–∏—Ç—å –≤ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫—É, —á—Ç–æ–±—ã –Ω–µ —Ç–µ—Ä—è—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. (–Ω—É–∂–Ω–æ –µ—â–µ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, —á—Ç–æ –≤–Ω—É—Ç—Ä–∏ –Ω–∏—Ö –æ–±—ã—á–Ω–æ –ª–µ–∂–∏—Ç)

### –ë–µ–∑ –∏–º–µ–Ω–∏
–º–æ–∂–Ω–æ –≤ —Ç–µ—Å—Ç

## .mv-parser... = 15661
–æ–±—Ä–µ–∑–∞—Ç—å —Ç–æ–ª—å–∫–æ –æ—Å–º—ã—Å–ª–µ–Ω–Ω—ã–π —Ç–µ–∫—Å—Ç

---

In [3]:
df["column_name"].value_counts()

column_name
–ì–æ–¥                    220601
–ú–µ—Å—Ç–æ                   87167
–†–æ–ª—å                    78957
–ö–æ–º–∞–Ω–¥–∞                 67698
–ù–∞–∑–≤–∞–Ω–∏–µ                64939
                        ...
–°–æ-–ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å(–∏)         1
–û–±–ª–∞—Å—Ç–∏ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è          1
51 220                      1
1999‚Äî2001                   1
1724                        1
Name: count, Length: 125673, dtype: int64

## –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è

In [4]:
unnamed_columns = df["column_name"].apply(lambda x: str(x).startswith("Unnamed"))
df[unnamed_columns]

                                    table_id  column_id column_name
3       dataset/Dataset/data/4022432/table_0          1  Unnamed: 1
215     dataset/Dataset/data/8128699/table_0          1  Unnamed: 1
225     dataset/Dataset/data/7786517/table_0          1  Unnamed: 1
267     dataset/Dataset/data/3595819/table_2          0  Unnamed: 0
324     dataset/Dataset/data/1802083/table_7          0  Unnamed: 0
...                                      ...        ...         ...
411160  dataset/Dataset/data/8352540/table_7          1  Unnamed: 1
411268  dataset/Dataset/data/2584082/table_1          2  Unnamed: 2
411275  dataset/Dataset/data/2584082/table_1          9  Unnamed: 9
411289   dataset/Dataset/data/980012/table_0          0  Unnamed: 0
411362   dataset/Dataset/data/165717/table_0          1  Unnamed: 1

[164440 rows x 3 columns]

## –°—Ç–æ–ª–±—Ü—ã —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏: ".mw-parser..."

In [5]:
df["column_name"].isna().sum()

36

In [6]:
df = df[~df["column_name"].isna()]
mw_parser = df["column_name"].str.contains(".mw-parser")
mw_parser.sum()

15771

### –í –Ω–∞–∑–Ω–≤–∞–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è —á–µ–ª–æ–≤–µ–∫–æ–ø–æ–Ω—è—Ç–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ, –Ω—É–∂–Ω–æ –æ—Ç—á–∏—Å—Ç–∏—Ç—å –º—É—Å–æ—Ä–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [7]:
mw_parser_humnareadable_names = df[mw_parser]["column_name"].apply(lambda x: str(x).split("}")[-1])
mw_parser_humnareadable_names.unique()

array(['–ú', '–ú–£', '–¶–≤–µ—Ç–∞ —É—á–∞—Å—Ç–Ω–∏—Ü', '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è', '#', 'Ref.', '–•–ü',
       '‚Ññ', '–ñ–µ—Ä—Ç–≤—ã', '7,5+7,5 –∫–º', '–ö–æ—ç—Ñ—Ñ.', '–í', '–ò', 'N', '–ö–æ—ç—Ñ.',
       '–î / –í', '–ì–æ–¥', '–ü', '‚Ññ –ø/–ø', ' –í', '09/10', 'Bib', '–ü—Ä–∏–º.',
       '02/03', '–ü–µ—Ä.', '–°–µ–∑–æ–Ω—ã', '–ö–∞—Ç–µ–≥–æ—Ä–∏—è', '–ö—É–±–æ–∫', '–°', '–ò.', '–ë–ö',
       '–¢–¢–•', '–£—Ä–æ–≤.', 'HP', '–ü–æ–∑', '–¢—Ä–µ–Ω–µ—Ä', '–ö–ß', '–ö–ü', '–ü–æ–∑.', '–°–£',
       '–ù', '–î–æ—Å—Ç—É–ø-–Ω–æ—Å—Ç—å', '–ì—Ä.', '–ü–ß', '08/09', '11/12',
       'Country Songs[A]', '–î / –í / –ù)', '–î / –í / –ù).1', '¬±', '–ó',
       '–î–æ–ª–∂–Ω–æ—Å—Ç—å / –¢–∏—Ç—É–ª', '–ù–æ–º.', '–ü–ü', '–¥/–≥', '–≠—Ç–∞–ø', '15+15 –∫–º',
       ' –û—Ç', '–°–£, –∫–º', ' –ò', '–ö-–≤–æ', 'GP', '–û—á–∫–∏', '–ò, –°', '–ü.',
       '–ß–∏—Å–ª–µ–Ω–Ω–æ—Å—Ç—å–≤–µ—Ä—É—é—â–∏—Ö–º–ª–Ω. —á–µ–ª–æ–≤–µ–∫', '–ü–µ—Ä–∏–æ–¥', '–ì–ü[67]',
       '–î–∞—Ç–∞ —Ä–æ–∂–¥–µ–Ω–∏—è', '–ù–∞—Ü', '+/-', '06/07', '–µ–¥. –∏–∑–º.',
       '–û—Ü–µ–Ω–∫–∞ –∑–∞ —Ç—Ä—É–¥–Ω–æ—Å—Ç—å',
       '–î–æ–ª—è —É—á–µ–Ω–∏–∫–æ–≤ –ø–æ –æ–±—É—á–µ–Ω–∏—é –Ω–∞ —Ä—É—Å—Å–∫–æ–º –∏ –±–µ–ª–æ—Ä—É—Å—Å–∫–æ–º —è–∑—ã–∫–∞—Ö,\xa0%[42][39][43]:',
       '04/05', '–ò—Å—Ç.', '–ö—Ä', '–ß–°', '–ö–ù–°–û', '–ì–æ–ª–æ—Å–æ–≤–∞–ª–æ', '–†–µ–∑.', 'SP',
       'SP.1', '–ù–æ—Ä–≤–µ–∂—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–û—á', '–õ/–ö—Ä—É–≥–∏', '–û—Ü–µ–Ω–∫–∞ D', 'RPG',
       '–ë/–ö—Ä—É–≥–∏', '–ü–ª–æ—Ç–Ω–æ—Å—Ç—å(—á–µ–ª./–∫–º¬≤)', '–í–£', '–û—Ç—á—ë—Ç', '–°–°', 'SPG',
       '–ü—Ä.', 'PPG', '–ù–∞—Å–µ–ª–µ–Ω–∏–µ[65]', '–ì–ó', '–ü–±', '–ü–æ–±–µ–¥–∞', '12/13',
       '–ó–∞–≤. ‚Ññ', '–ü–°–õ', '–î / –í)', '–ò–≥—Ä', '–ú–∞—Ç—á–∏', '–í—Å–µ–≥–æ –¥–µ–ø—É—Ç–∞—Ç–æ–≤',
       '–û—Ä–±–∏—Ç–∞', '–û–ü', '–õ–ö', '96/97', '–ú–ö–ó', '–ü—Ä–æ—á–∏–µ', '–î / –í / –ù', '–î–∂.',
       '+/- (–≤\xa0%)', '–°–≠', '–¢–∏–ø –∞–¥–º. –µ–¥.', '–ü–®', '–ü–∞–ª.', '–í–æ–∑–¥.', '?',
       '–°–≥—Ä', '–õ–∞—É—Ä–µ–∞—Ç—ã', '–î–æ–º.', 'C', '–î / –í).1', '–ö–ù', '–ì–æ–ª—ã', '–õ–∏–≥–∞',
       '–≤—Ä–µ–º—è –∏—Å–ø—ã—Ç–∞–Ω–∏—è', '15/16', '–ê', '–ó—Ä–∏—Ç–µ–ª–∏', '–ú–µ—Å—Ç–æ', '–ö–∞–Ω–¥–∑–∏',
       '92/93', '–ì', '–ó–Ω–∞–∫ —Ä–∞–∑–ª–∏—á–∏—è', '–ì–ü[31]', '–°–±–æ—Ä–Ω—ã–µ', '–ö–∞—Ç', 'BPG',
       '–§–∏–Ω–∞–ª', '–°—Ç—Ä–∞–Ω–∞', '(—Ç—ã—Å.\xa0—Ç)[128][129][130]', 'Ê∏Ö', '–†–µ–≥. —á–µ–º–ø.',
       'APG', '–û–° –ú–°–û–ü', '–†–∞–Ω–≥[~ 1]', '–ö–æ–º–∞–Ω–¥—ã', '–í —Å—Ä.', '–î–Ω–µ–π', 'No.',
       '–ö', '–ú–µ–¥–∏–∞—Ñ–∞–π–ª—ã –Ω–∞\xa0–í–∏–∫–∏—Å–∫–ª–∞–¥–µ–ú–æ–¥–µ–ª—å', '–°—É–±—ä–µ–∫—Ç –†–§', '–í‚Äì–ü',
       '–ò—Å—Ç', '–û–ß–ú', 'Œ£', '–ú–∏–Ω—É—Ç', 'G', '–î–æ–ª–∂–Ω–æ—Å—Ç—å', '–ú–ì', '–ü–ö–ü', '10/11',
       '—Å—Ä./–º–∞–∫—Å., –º', '–í–Ω–µ–±–∏—Ä–∂–µ–≤–æ–π —Ä—ã–Ω–æ–∫', '—è–¥—Ä–æ–±—É—Ñ–µ—Ä–ø–µ—Ä–µ—Ö–æ–¥,–≥–∞', 'D+E)',
       '–º–µ—Å—Ç)', '–ö–ê', '+', '14/15', '–ù–ü–ê–¥–º. —Ü–µ–Ω—Ç—Ä –≤—ã–¥–µ–ª–µ–Ω –∂–∏—Ä–Ω—ã–º',
       '–õ/–∫—Ä—É–≥–∏', '–ü–æ–±', '–°–ö', 'Pld', '–û–°–ò', '–ì–ü[69]', '–£', '–¢–∞–∫–∂–µ –≤—ã—à–µ–ª',
       '–ì–æ–ª/–ò–≥—Ä–∞', '–ö–≤–∞–ª–∏—Ñ–∏–∫–∞—Ü–∏—è', '–û–ø–∏—Å–∞–Ω–∏–µ', '–°–ö–† (–æ–±—â–∏–π)',
       '–ì–æ–¥, —Å—Å—ã–ª–∫–∏,(‚Ññ —Ü–µ—Ä–µ–º–æ–Ω–∏–∏)', '–†–µ–ª–∏–∑', '–°—Ç–∞—Ä—Ç', '100 –º —Å/–±', '–ú–°',
       '–ó–∞—á.', '–ú.', '–Ω–∞ –∞–Ω–≥–ª.)', '–í—ã—Å–æ—Ç–∞,\xa0–º', '–§–∞–∑–∞', '–ö–ò', 'Pos.',
       '–ù–∏–∫', ' –ü/–£', '–û', '–ò—Å.', '–∏–Ω–æ—Å—Ç—Ä.', '–ö–∞—Ç.', '–ö–ª—É–±—ã', '–ü–æ—Ä—Ç—Ä–µ—Ç',
       '99/00', '–û—Ñ. ITV —Ä–µ–π—Ç–∏–Ω–≥(–º–ª–Ω)[1]', '–í—ã–±—ã–ª–∞', '01.01', '–û–ù',
       '\xa0–í', '03/04', '–ü–°', '–ù–∞—Å–µ–ª–µ–Ω–∏–µ', '–ö–°', '–ö–¢', '–¢–∏–ø', '–ö–æ–Ω—Ñ.',
       '–ê–ú–° –∏–ª–∏ –º–∞—Ä—Å–æ—Ö–æ–¥–∞', 'WR', '–°–Ω.', '–û–∫—Ä—É–≥', '2016)', '–Ω.–ø.', '–î–∏–≤.',
       'M', '–î/–ì', '–û–ö–† –Ω–∞ 1000–∂–∏—Ç–µ–ª–µ–π', '–≠/–±', '–í won', '–î', '–†–∞–∑', '–ö–ú',
       '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[4]', '–¢–ê (–ë–ö —Ç–æ—Ä–ø–µ–¥)', '–†–∞–∑–º–µ—Ä –¥–æ–∫–∞–ø–∏—Ç–∞–ª–∏–∑–∞—Ü–∏–∏',
       '–ñ–ö', '–ø/–ø', '–î–ù–ü', '–û—Ü–µ–Ω–∫–∞ E', '–ë–≠', '–°–∏–Ω—è—è —Å—Ç–æ—Ä–æ–Ω–∞', '–ì–ü', '–ë/–ù',
       '–õ.–∫—Ä—É–≥–∏', 'W', '–õ—É—á—à–∏–π –Ω–æ–≤–∏—á–æ–∫', '–ß–µ–º–ø–∏–æ–Ω—Å—Ç–≤–æ', '–ü—Ä–æ–∏–∑–≤.–∫–æ–¥',
       '–¶–µ—Ä–µ–º–æ–Ω–∏—è', '–î–µ–ª–æ', '–£—á–∞—Å—Ç–∏—è –≤ –†–µ—Å—Ç–ª–º–∞–Ω–∏—è—Ö', '–†–∞–∑–Ω–∏—Ü–∞', '–°—Ç—Ä.',
       'D2/D0', '–ò–ì–†', '–ò–∑–±–∏—Ä–∞—Ç–µ–ª–µ–π', '–°–†', '–î/–≥', '78/79', '–°—Ç–∞–¥–∏—è',
       'MVP', '–¥/–≥)', '–ê–¥–º–∏–Ω.—Ü–µ–Ω—Ç—Ä', '–ë—ã—Å—Ç—Ä—ã–π –∫—Ä—É–≥', '–ü–∞—Å—Å.,–º–ª–Ω', '–î–∞—Ç–∞',
       'Ref', '–†–µ–∑—É–ª—å—Ç–∞—Ç', '–ù/–¥', '–ö–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã', '–ü–æ—É–ª', '–í–æ–∑—Ä–∞—Å—Ç', '–ù/–æ',
       '–°–µ–π—á–∞—Å', '–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç', 'bib', '–ì–æ—Ä–æ–¥–∞ –û–ü',
       '–ù–∞–∑–≤–∞–Ω–∏–µ –≤ –∑–∞—è–≤–∫–µ–Ω–∞ –Ω–æ–º–∏–Ω–∞—Ü–∏—é', '–ò–Ω–¥–∏–≤.', '–õ. –∫—Ä—É–≥–∏',
       '–ü—Ä–æ—Ñ. –ø–µ—Ä–∏–æ–¥', 'PR', '(–∏–º—è)', '–ö–≤–∞–ª.', '–ì. —Ä.', '–û—Ü–µ–Ω–∫–∞ T',
       '–î—Ä–µ–≤–Ω.', '–±–ª–æ–∫–∏—Ä–æ–≤–∞–Ω–∏—è', '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[1]', '–ò–µ—Ä.',
       '–ù–µ–∑–∞–≤–∏—Å–∏–º—ã–π –ø–æ–±–µ–¥–∏—Ç–µ–ª—å', '–î–∏–≤–∏–∑–∏–æ–Ω', 'TFP', '–°–ü', '89/90',
       '–ó–∞—è–≤–ª–µ–Ω–∏–µ –æ–± —É—á–∞—Å—Ç–∏–∏', '–ò–∑–¥.', '–§–û', '–ò—Ç–æ–≥[1]', '–í—Å–µ–≥–æ',
       '–ù–∞—É—á–Ω—ã–µ —Å—Ç–µ–ø–µ–Ω–∏ –∏ –∑–≤–∞–Ω–∏—è', '–ó–≤–∞–Ω–∏–µ', '–í–ú', '% –í', '–ö–†–°',
       '–ü—Ä–æ–ø—É—â–µ–Ω–æ', '–§–ò–û', '–ü–ª–µ–π-–æ—Ñ—Ñ', 'Av.', '–¢', '–í—ã–ø.)',
       '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç–Ω—ã—Ö –ø–æ–∫–∞–∑–æ–≤ (–º–ª–Ω)', '–¥–ª–∏–Ω–∞',
       '–£—á–∞—Å—Ç–∏—è –≤ —Ñ–∏–Ω–∞–ª—å–Ω—ã—Ö —Ç—É—Ä–Ω–∏—Ä–∞—Ö', '–ó—Ä–∏—Ç–µ–ª–µ–π', '‚Ññ‚Ññ', '–ú–µ—Å—Ç–æ/—Ç—É—Ä',
       'RSKP', '–ö–æ–¥', 'BCE', '–ê–≤—Ç–æ', '—á–µ–ª./–∫–º¬≤)',
       '–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Å–æ–∑–≤–µ–∑–¥–∏—è', '10 –∫–º', '–î–æ–ª—è, %', '1', '–ú/–ë', '–î–ë',
       '100 –º', '–í-–ü', '–°–ú–†–Ω–∞ 10 000 —á–µ–ª–æ–≤–µ–∫[5]', '–ß. –∏. —Å.',
       '‚Ññ –≤—Å–µ—Ä–∏–∞–ª–µ JAG', '–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–ü–∏–∫', '17/18', '07/08',
       'SOS', '–ú–µ–¥–∞–ª–∏', '–ì—Ä-–≤–æ', '–î–∞—Ç–∞ –Ω–∞—á–∞–ª–∞ –≤–æ–ª–Ω—ã', '–ì–æ–¥ (–Ω–∞—á.)', '‚Ññ–∞–≤',
       ' –ü–æ–∑.', '–ò—Ç–æ–≥–æ', '–ê-2010', 'TC2 winner', '–†–µ–π—Ç–∏–Ω–≥', '–ö–æ–ª.', '–ù.',
       '–ü–µ—Ä. —ç–∫—Å–ø–ª—É–∞—Ç.', '–ê–±–±—Ä.', '', '–ò–ª–ª.', '–ß–†', '–ü—Ä–∏–º–µ—á–∞–Ω–∏–µ', '–ö–æ–º–º.',
       '–ú–Ω–æ–≥–æ–±–æ—Ä—å–µ', '–û–ò–ö', '–ö–æ—ç—Ñ—Ñ.[1]', '–ù–æ–º–µ—Ä —É–∫–∞–∑–∞', '–†–°', '–°–±',
       '–¥/–≥) ‚Äî —Å—á—ë—Ç', 'Vref', '–ì–æ–ª—ã (–ü)', '–ì—Ä—É–ø–ø–∞',
       '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è –æ—Ä–¥–µ–Ω–∞', 'SS', '–†–µ–ª–∏–≥–∏—è', '25 –º', 'TA',
       '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥', '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥.1', ' ‚ôÜ', '–≠—Ç–∞–ø—ã', '–°–ø—Ä', '–°—Å—ã–ª.',
       '–ö–ü–ë', '–ù–¢ –ò–Ω–¥. —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è', '–í—ã–±—ã–ª–∏', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å',
       '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.1', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.2', '–ü–µ–Ω', '–î–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç', 'RCT', '–ó–ú',
       '–ü.–Ω.', '–ì–æ–¥—ã –∂–∏–∑–Ω–∏'], dtype=object)

## –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã / —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è / –º–µ—Ä—ã (–∫–≥, –∫–¥–∂.)

In [8]:
# TODO: –ú—ã –∏—Ö –Ω–µ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º, –ø–æ—Ç–æ–º—É —á—Ç–æ –≤ —Å—Ç–æ–ª–±—Ü–µ –±—É–¥–µ—Ç —Ç–æ –∂–µ —á—Ç–æ —É–≥–æ–¥–Ω–æ

In [9]:
# no_word_in_header = df_cleansed["column_name"].str.len() < 2
# df_cleansed[no_word_in_header]["column_name"]

# –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

---
1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö ".mv-parser.."
2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞
3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞ (‚Ññ, $, %, –∏ —Ç.–ø.)
4. –û—á–∏—Å—Ç–∫–∞ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞
5. –£–¥–∞–ª–µ–Ω–∏–µ –ª–∏—à–Ω–∏—Ö –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞
---

In [10]:
df_cleansed = df.copy()

In [11]:
df_cleansed = df[~df["column_name"].isna()]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–ì–æ–¥
3,dataset/Dataset/data/4022432/table_0,1,Unnamed: 1
4,dataset/Dataset/data/4022432/table_0,2,–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤

In [12]:
# def clean_mv_parser(col_name: str) -> str:
#     if col_name.strip().startswith(".mw-parser"):
#         return col_name.split("}")[-1]
#     return col_name

# df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: clean_mv_parser(str(x)))

In [13]:
df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(
    lambda x: re.sub(r"\.mw-parser-output \.ts.+{.+}", "", x)
)
df_cleansed["column_name"].str.contains("mw-parser").sum()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4965670/4965670 [00:03<00:00, 1506397.89it/s]

0

In [14]:
df_cleansed[mw_parser]

                                     table_id  column_id column_name
52       dataset/Dataset/data/4659559/table_0          0           –ú
605     dataset/Dataset/data/5220971/table_15          1          –ú–£
1437     dataset/Dataset/data/5346766/table_1          0           –ú
1777     dataset/Dataset/data/4747431/table_1          0           –ú
2040     dataset/Dataset/data/7955239/table_5          0           –ú
...                                       ...        ...         ...
410876   dataset/Dataset/data/5375371/table_0          1           –ò
410941   dataset/Dataset/data/5372811/table_0          1           –ò
410988   dataset/Dataset/data/2554658/table_0          0        –ü–æ–∑.
411366   dataset/Dataset/data/5451199/table_0          0           –ú
411411   dataset/Dataset/data/3818327/table_0          0           –ú

[15771 rows x 3 columns]

## 2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞

In [15]:
unnamed_columns = df_cleansed["column_name"].str.startswith("Unnamed")
df_cleansed = df_cleansed[~unnamed_columns]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–ì–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞

In [16]:
def remove_alphabetic_symbols(col_name: str) -> str:
    """TODO: just replace this symbols with space"""
    restricted_symbols = [
        "(", 
        ")", 
        "+", 
        "-", 
        "[", 
        "]", 
        "/", 
        ".", 
        ",", 
        "@", 
        "{", 
        "}", 
        "¬´", 
        "¬ª", 
        "<", 
        ">", 
        ":", 
        ";", 
        "'",
        "*",
        "?",
        "!",
        "-",
        "_",
    ]
    return "".join(c for c in col_name if not c.isalpha() and not c.isdigit() and not c.isspace() and c not in restricted_symbols)

non_alpha = df_cleansed["column_name"].progress_apply(lambda x: remove_alphabetic_symbols(str(x)))
non_alpha.unique()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:04<00:00, 1017329.16it/s]

array(['', '‚Ññ', '¬±', '#', '‚Äî', '%', '$', '\\‚Ññ', '‚òâ', '‚Ä¢', '‚àí', '=', '""',
       '‚Äì', '‚äô', '\\', '¬∞', '¬∑‚àí', 'ÃÅ', '‚Ç¨', '\xad', '‚Äô%', '‚Äì%', '‚àÖ', '‚âà',
       '&', '|', '%%', '%%%%‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '\xad\xad', '‚àß', '‚Ä¢‚Ä¢', '‚Üí‚Üì',
       '‚ÇΩ', 'Ã±', '¬Ω', '‚â•', '\x7f"``"\x7f', '¬∑', '√∑%', '‚Ä¶', 'Õ°', '‚â°', '‚Ä∞',
       '‚Üì‚Üí', '‚Äî‚Äî', '&&', '‚Äô', '=""', 'Ã®', '‚Äô‚Äô', '‚Üí', '√ó', '~', '‚Üì', '‚ãÖ',
       '‚Ññ‚Ññ', '¬∞¬∑', '¬£', '¬±%', '$$', '‚Ä†', '‚Äî¬∞', '‚Üï', 'ÃÉ', '‚Ä¢‚Äî', '%~', '‚Äì‚Äì',
       '‡§Ç', '‡§É', '%‚Äî', '‚Ä°', '√ó=', '====', '‚Ññ‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Ññ‚Ññ‚Äî', '‡•ç',
       '¬Ω¬Ω', '‚àë', '¬∂', '¬•', '‚Ä≤', '%%%%%%', '||', '√ó√ó', '^', '"', '‚àí¬∑',
       '‚äï', 'Ôøº', '‚ôÇ', '‚ôÄ', '‚àí‚àí', '¬¥', 'Àò', '‚Äî‚Äî‚Äî', '‚àÜ%', 'ÔºàÔºâ', '%%%%%%%%',
       '¬º', 'Ã±Ã±', '%¬±', 'Í§¶', 'Í§ß', 'Í§®', 'Í§©', 'Í§™', '‚òÖ', '‚Ññ\\',
       '\xad\xad\xad\xad\xad', '\xad\xad\xad\xad', '‚àô‚àí', '‚àô‚àô‚àí', '‚â§¬∞',
       '‚â•¬∞', '‚ñº', '‡≤Ç', '‡≤É', '‚àû‚àû', '""""', '¬¨', '‚àû', '‚ôÅ', '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî',
       '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '\xad\xad\xad', '‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶', '=%', '‚Üë', '‚ñº‚ñ≤%',
       '‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚Äî%', '=‚àí', '\u200e', '%‚Ññ', '‚Ä≤‚Ä≤', '‚Äô‚Äî', '‚Äò‚Ä¶‚Äô',
       '‚†Ä', '‚Ä¢‚Ä¢‚Ä¢', '‚àí‚àí‚àí‚àí', '¬∑¬∑', '‚Äî‚Ä¶', '√ó‚Äù', '‚Äë', '#Ô∏è‚É£', 'Ã∞Ã∞', 'À¶', 'À©',
       'ÀßÀ©', 'À•Àß', 'À•', '‚Ä¢&', '&‚Äô', '‚àí¬∑‚àí', '‚Ç®', '%‚Äì', '‚Äî%‚Äî%‚Äî%', 'Ôºà', '‚Ç£',
       '‚â§%%√∑%%√∑%%', '%‚àí', '‚à®', '‚Äú‚Äù', '‡∞Å', '‡∞Ç', '‡∞É', '`', '‚Ññ#', '‚ñº¬ß',
       '‚Üì¬∑‚Üí', '=ÃÖ', '‚Äò‚Äô', '====¬∞', '‚àº', '&$', '=‚Äî', '‚Üê', '‚Üî', 'Ôºö', '‚â§',
       '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚Ç©', '¬∞‚Äî', '‚Üõ', '¬∑¬∞', '‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Äî‚Äî‚Ññ‚Äî‚Ññ', '„ÄÇÔºàÔºâ„ÄÇ„ÄÇÔºàÔºâ„ÄÇ',
       '$&', '√∑', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', 'ÃàÃà', '√ó‚Åª', '~%', '√ó‚àí', '|||', '‚Äî#&~',
       '‚Ññ‚Äî', 'ÃÅÃÅ', 'ëÑß', 'ëÑ®', 'ëÑ©', 'ëÑ™', 'ëÑ´', 'ëÑ¨', 'ëÑÆ', 'ëÑ≠', 'ëÑØ', '=^',
       '‚àû‚àû‚àû', '‚áÖ', 'Í§´', 'Í§¨', 'Í§≠', '################', '‚Ññ&', '==', '‚Äô‚Äô‚Äô',
       '¬±¬∞', '#|', '‚àí%', 'ÃÅÃÅÃÅÃÅ', '‚Ä¶‚Äî‚Äî', '‚Ä¶‚Äî‚Äî‚Äò', '¬±¬±¬∑¬±¬±', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ',
       '##', '¬∑‚àí¬∑‚àí', '%¬∞', '""|&', '===', '‚Äî‚Äì', '#&', '&‚Äì',
       'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '‚ôÜ', '¬ß', '~‚Äî^‚Äî', 'ÃÑÃÑ', '‚Ññ‚Üí‚Üì'], dtype=object)

In [17]:
# # - —Ç–æ–∂–µ –Ω–æ–º–µ—Ä –∏–ª–∏ –Ω–µ –≤—Å–µ–≥–¥–∞
# –ú–Ω–æ–≥–æ –∑–Ω–∞–∫–æ–≤ —Ä–∞–≤–µ–Ω—Å—Ç–≤–∞, —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –≤ —Å—Ç–æ–ª–±—Ü–µ —á–∏—Å–ª–æ –ª–µ–∂–∏—Ç, –º–æ–∂–Ω–æ —Ç–æ–∂–µ —É–∫–∞–∑–∞—Ç—å
rules = {
    "‚Ññ": " –Ω–æ–º–µ—Ä ",
    "%": " –ø—Ä–æ—Ü–µ–Ω—Ç ",
    "‚àÜ": " —á–∏—Å–ª–æ ",
    "‚àë": " —Å—É–º–º–∞ ",
    "Œ£": " —Å—É–º–º–∞ ",
    "$": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç£": " –¥–µ–Ω—å–≥–∏ ",
    "‚ÇΩ": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç¨": " –¥–µ–Ω—å–≥–∏ ",
    "¬•": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç©": " –¥–µ–Ω—å–≥–∏ ",
    "¬£": " –¥–µ–Ω—å–≥–∏ ",
}

for rule, word in rules.items():
    df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).replace(rule, word))

df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2762083.19it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2722306.45it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2851615.15it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2848630.95it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2795617.29it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2725007.38it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2803625.31it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2846015.73it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2840964.00it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2791814.44it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2799689.33it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2737262.83it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–ì–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3.1. To lower

In [18]:
df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).lower())
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:02<00:00, 2319276.98it/s]
/tmp/ipykernel_18476/2647402885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).lower())

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3.2 –∑–∞–º–µ–Ω–∞ —ë –Ω–∞ –µ

In [19]:
df_cleansed["column_name"] = df_cleansed["column_name"].str.replace("—ë", "–µ")

/tmp/ipykernel_18476/1329648267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleansed["column_name"] = df_cleansed["column_name"].str.replace("—ë", "–µ")

## 4. –£–¥–∞–ª–µ–Ω–∏–µ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞

In [20]:
# for i in df_cleansed.sort_values(by=["column_name"], ascending=False)["column_name"]:
#     print(i)

In [21]:
def remove_non_alphabetic_symbols(col_name: str) -> str:
    # return "".join(c for c in col_name if c.isalpha() or c == " ")
    # return "".join(c for c in col_name if "–ê" <= c <= "—è" or c == " ")
    for c in col_name:
        if not ("–∞" <= c <= "—è" or c == " "):
            col_name = col_name.replace(c, " ")
    return col_name
    # return "".join(c for c in col_name if "–∞" <= c <= "—è" or c == " ")

df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: remove_non_alphabetic_symbols(str(x)))
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:03<00:00, 1281405.27it/s]
/tmp/ipykernel_18476/919542367.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: remove_non_alphabetic_symbols(str(x)))

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [22]:
len_le_2 = df_cleansed["column_name"].str.len() == 0
df_cleansed[len_le_2]

                                    table_id  column_id column_name
80632   dataset/Dataset/data/8289176/table_1          7
378460  dataset/Dataset/data/8113812/table_1          7

## 5. –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞ —Å—Ç–æ–ª–±—Ü–∞

In [23]:
df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).strip())
df_cleansed = df_cleansed[df_cleansed["column_name"] != ""]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801230/4801230 [00:01<00:00, 2926377.67it/s]

## 6. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ —Å—Ç–æ–ª–±—Ü–æ–≤, –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–π (–ø–æ –º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)

In [24]:
group_by_columns = [
    "—è–Ω–≤–∞—Ä—å",
    "—Ñ–µ–≤—Ä–∞–ª—å",
    "–º–∞—Ä—Ç",
    "–∞–ø—Ä–µ–ª—å",
    "–º–∞–π",
    "–∏—é–Ω—å",
    "–∏—é–ª—å",
    "–∞–≤–≥—É—Å—Ç",
    "—Å–µ–Ω—Ç—è–±—Ä—å",
    "–æ–∫—Ç—è–±—Ä—å",
    "–Ω–æ—è–±—Ä—å",
    "–¥–µ–∫–∞–±—Ä—å",
    "—è–Ω–≤",
    "—Ñ–µ–≤—Ä",
    "—Ñ–µ–≤",
    "–º–∞—Ä",
    "–∞–ø—Ä",
    "–∏—é–Ω",
    "–∏—é–ª",
    "–∞–≤–≥",
    "—Å–µ–Ω—Ç",
    "—Å–µ–Ω",
    "–æ–∫—Ç",
    "–Ω–æ—è",
    "–Ω–æ—è–±",
    "–¥–µ–∫",
]

In [25]:
s = 0
for col in group_by_columns:
    s += df_cleansed[df_cleansed["column_name"] == col].shape[0]
s

137387

In [26]:
for col in group_by_columns:
    group_by_mask = df_cleansed["column_name"] == col
    df_cleansed = df_cleansed[~group_by_mask]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [27]:
(df_cleansed["column_name"] == "—Ñ–µ–≤").sum()

0

## 7. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ –¥–ª–∏–Ω–æ–π <= 2

TODO: split count max len of word; if <= 2 -> drop

In [28]:
len_le_2 = df_cleansed["column_name"].str.len() <= 2
df_cleansed[len_le_2]

                                    table_id  column_id column_name
47      dataset/Dataset/data/7873710/table_0          2          –ø—É
52      dataset/Dataset/data/4659559/table_0          0           –º
54      dataset/Dataset/data/4659559/table_0          2           –∏
55      dataset/Dataset/data/4659559/table_0          3           –≤
56      dataset/Dataset/data/4659559/table_0          4           –Ω
...                                      ...        ...         ...
411413  dataset/Dataset/data/3818327/table_0          2           –∏
411414  dataset/Dataset/data/3818327/table_0          3           –≤
411415  dataset/Dataset/data/3818327/table_0          4           –Ω
411416  dataset/Dataset/data/3818327/table_0          5           –ø
411419  dataset/Dataset/data/3818327/table_0          8           –æ

[373582 rows x 3 columns]

In [29]:
df_cleansed = df_cleansed[~len_le_2]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [30]:
df_cleansed = df_cleansed.reset_index().drop(["index"], axis=1)
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
3,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
4,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
3381700,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
3381701,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
3381702,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
3381703,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
3381704,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [31]:
from random import randint

rnd = randint(0, df_cleansed.shape[0])
df_cleansed.loc[rnd:rnd+10]

,table_id,column_id,column_name
2396158,dataset/Dataset/data/4738712/table_2,1,–¥–∞—Ç–∞
2396159,dataset/Dataset/data/4738712/table_2,2,—Å–æ–ø–µ—Ä–Ω–∏–∫
2396160,dataset/Dataset/data/4738712/table_2,3,–¥ –≥
2396161,dataset/Dataset/data/4738712/table_2,4,—Å—á–µ—Ç
2396162,dataset/Dataset/data/4738712/table_2,5,–∑—Ä–∏—Ç–µ–ª–µ–π
2396163,dataset/Dataset/data/4738712/table_2,6,–≤ –ø
2396164,dataset/Dataset/data/7799219/table_4,0,–º–∞—Ä—Ç–∞ –Ω–æ—Ä–≤–µ–≥–∏—è –ø—Ä–æ—Ç–æ–∫–æ–ª —Ñ–∏–Ω–ª—è–Ω–¥...
2396165,dataset/Dataset/data/6786161/table_0,0,—Ä–µ–∑—É–ª—å—Ç–∞—Ç
2396166,dataset/Dataset/data/6786161/table_0,1,–≥–æ–¥
2396167,dataset/Dataset/data/6786161/table_0,2,—Ç—É—Ä–Ω–∏—Ä
2396168,dataset/Dataset/data/6786161/table_0,3,–ø–æ–∫—Ä—ã—Ç–∏–µ

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –æ—á–∏—â–µ–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [32]:
import numpy as np

df_cleansed.to_csv(f"./cleansed/data.csv", sep=";", index=False)

# number_of_chunks = 10
# for id, chunk in enumerate(np.array_split(df_cleansed, number_of_chunks)):
#     chunk.to_csv(f"./cleansed/data_{id}.csv", sep=";", index=False)

# –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

–î–∞–ª—å–Ω–µ–π—à–∞—è —Ä–∞–∑–º–µ—Ç–∫–∞ —Å—Ç—Ä–æ–∏—Ç—Å—è –Ω–∞ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–µ–Ω–∏–∏, —á—Ç–æ –ø–µ—Ä–≤–æ–µ —Å—É—â–µ—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ–µ –≤ –∑–∞–≥–æ–ª–æ–≤–∫–µ —Å—Ç–æ–ª–±—Ü–∞ –æ—Ç—Ä–∞–∂–∞–µ—Ç —Ç—É —Å—É—â–Ω–æ—Å—Ç—å, –∫–æ—Ç–æ—Ä–∞—è –≤ –Ω–µ–º —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è

In [33]:
import spacy

nlp = spacy.load("ru_core_news_sm", disable=['parser', 'ner'])

def lemmatize_word(word: str) -> str | None:
    for token in nlp(word):
        if token.pos_ == "NOUN":
            return token.lemma_
    return None

In [34]:
column_name_lemma = pd.DataFrame()
column_name_lemma["column_name"] = df_cleansed["column_name"].unique()
column_name_lemma["column_name_lemma"] = column_name_lemma["column_name"].progress_apply(lambda x: lemmatize_word(x))
column_name_lemma

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 63244/63244 [01:44<00:00, 606.49it/s]

                                      column_name column_name_lemma
0                                            —á–∞—Ä—Ç              —á–∞—Ä—Ç
1                                   –≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è     –≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2                                             –≥–æ–¥               –≥–æ–¥
3                                —Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ          –Ω–∞–∑–≤–∞–Ω–∏–µ
4                           –æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ          –Ω–∞–∑–≤–∞–Ω–∏–µ
...                                           ...               ...
63239                               —Ä–∞—É–Ω–¥—ã  –≤—Ä–µ–º—è             —Ä–∞—É–Ω–¥
63240                        –∫–æ–º–∞–Ω–¥–∞ –∞–ª—å—Ñ—Ä–µ–¥—Å—Å–æ–Ω–∞           –∫–æ–º–∞–Ω–¥–∞
63241  –æ–±—ä–µ–º –ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–∞ –∂–µ–ª–µ–∑–Ω–æ–π —Ä—É–¥—ã  –º–ª–Ω —Ç–æ–Ω–Ω             –æ–±—ä—ë–º
63242                               –≤—Ä–µ–º—è –≤—ã–ø—É—Å–∫–∞             –≤—Ä–µ–º—è
63243                            –≤–∫–ª—é—á–µ–Ω –≤ –∞–ª—å–±–æ–º            –∞–ª—å–±–æ–º

[63244 rows x 2 columns]

In [35]:
df_cleansed_lemma = df_cleansed.merge(column_name_lemma, how="inner")
df_cleansed_lemma

,table_id,column_id,column_name,column_name_lemma
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç,—á–∞—Ä—Ç
1,dataset/Dataset/data/1888657/table_1,2,—á–∞—Ä—Ç,—á–∞—Ä—Ç
2,dataset/Dataset/data/6223308/table_0,0,—á–∞—Ä—Ç,—á–∞—Ä—Ç
3,dataset/Dataset/data/4293840/table_0,0,—á–∞—Ä—Ç,—á–∞—Ä—Ç
4,dataset/Dataset/data/8245389/table_1,0,—á–∞—Ä—Ç,—á–∞—Ä—Ç
...,...,...,...,...
3381700,dataset/Dataset/data/3660091/table_2,2,–∫–æ–º–∞–Ω–¥–∞ –∞–ª—å—Ñ—Ä–µ–¥—Å—Å–æ–Ω–∞,–∫–æ–º–∞–Ω–¥–∞
3381701,dataset/Dataset/data/3660091/table_2,3,–∫–æ–º–∞–Ω–¥–∞ –∞–ª—å—Ñ—Ä–µ–¥—Å—Å–æ–Ω–∞,–∫–æ–º–∞–Ω–¥–∞
3381702,dataset/Dataset/data/4212949/table_0,2,–æ–±—ä–µ–º –ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–∞ –∂–µ–ª–µ–∑–Ω–æ–π —Ä—É–¥—ã –º–ª–Ω —Ç–æ–Ω–Ω,–æ–±—ä—ë–º
3381703,dataset/Dataset/data/7525778/table_0,1,–≤—Ä–µ–º—è –≤—ã–ø—É—Å–∫–∞,–≤—Ä–µ–º—è
3381704,dataset/Dataset/data/7525778/table_0,4,–≤–∫–ª—é—á–µ–Ω –≤ –∞–ª—å–±–æ–º,–∞–ª—å–±–æ–º

In [36]:
df_cleansed_lemma.drop("column_name", axis=1, inplace=True)
df_cleansed_lemma

                                     table_id  column_id column_name_lemma
0        dataset/Dataset/data/7779522/table_0          0              —á–∞—Ä—Ç
1        dataset/Dataset/data/1888657/table_1          2              —á–∞—Ä—Ç
2        dataset/Dataset/data/6223308/table_0          0              —á–∞—Ä—Ç
3        dataset/Dataset/data/4293840/table_0          0              —á–∞—Ä—Ç
4        dataset/Dataset/data/8245389/table_1          0              —á–∞—Ä—Ç
...                                       ...        ...               ...
3381700  dataset/Dataset/data/3660091/table_2          2           –∫–æ–º–∞–Ω–¥–∞
3381701  dataset/Dataset/data/3660091/table_2          3           –∫–æ–º–∞–Ω–¥–∞
3381702  dataset/Dataset/data/4212949/table_0          2             –æ–±—ä—ë–º
3381703  dataset/Dataset/data/7525778/table_0          1             –≤—Ä–µ–º—è
3381704  dataset/Dataset/data/7525778/table_0          4            –∞–ª—å–±–æ–º

[3381705 rows x 3 columns]

**–û–ø–∞—Å–Ω–æ, –±—É–∫–≤–∞ —ë –≤–µ—Ä–Ω—É–ª–∞—Å—å –≤–º–µ—Å—Ç–µ —Å –ª–µ–º–º–æ–π :) –∫–ª–∞—Å—Å.**

In [37]:
df_cleansed_lemma["column_name_lemma"] = df_cleansed_lemma["column_name_lemma"].str.replace("—ë", "–µ")
df_cleansed_lemma

                                     table_id  column_id column_name_lemma
0        dataset/Dataset/data/7779522/table_0          0              —á–∞—Ä—Ç
1        dataset/Dataset/data/1888657/table_1          2              —á–∞—Ä—Ç
2        dataset/Dataset/data/6223308/table_0          0              —á–∞—Ä—Ç
3        dataset/Dataset/data/4293840/table_0          0              —á–∞—Ä—Ç
4        dataset/Dataset/data/8245389/table_1          0              —á–∞—Ä—Ç
...                                       ...        ...               ...
3381700  dataset/Dataset/data/3660091/table_2          2           –∫–æ–º–∞–Ω–¥–∞
3381701  dataset/Dataset/data/3660091/table_2          3           –∫–æ–º–∞–Ω–¥–∞
3381702  dataset/Dataset/data/4212949/table_0          2             –æ–±—ä–µ–º
3381703  dataset/Dataset/data/7525778/table_0          1             –≤—Ä–µ–º—è
3381704  dataset/Dataset/data/7525778/table_0          4            –∞–ª—å–±–æ–º

[3381705 rows x 3 columns]

In [38]:
empty_mask = df_cleansed_lemma["column_name_lemma"].isna()
df_cleansed_lemma[empty_mask]

                                     table_id  column_id column_name_lemma
1004084  dataset/Dataset/data/8752971/table_0          1              None
1004085  dataset/Dataset/data/7323192/table_0          1              None
1004086  dataset/Dataset/data/7437687/table_0          1              None
1004087  dataset/Dataset/data/7367667/table_0          1              None
1004088  dataset/Dataset/data/8351450/table_0          1              None
...                                       ...        ...               ...
3381650  dataset/Dataset/data/2623102/table_0          1              None
3381652  dataset/Dataset/data/4997442/table_0          3              None
3381653  dataset/Dataset/data/4997442/table_0          4              None
3381687  dataset/Dataset/data/5273033/table_3          4              None
3381689   dataset/Dataset/data/162140/table_0          4              None

[158990 rows x 3 columns]

In [39]:
df_cleansed_lemma = df_cleansed_lemma[~empty_mask]
df_cleansed_lemma

                                     table_id  column_id column_name_lemma
0        dataset/Dataset/data/7779522/table_0          0              —á–∞—Ä—Ç
1        dataset/Dataset/data/1888657/table_1          2              —á–∞—Ä—Ç
2        dataset/Dataset/data/6223308/table_0          0              —á–∞—Ä—Ç
3        dataset/Dataset/data/4293840/table_0          0              —á–∞—Ä—Ç
4        dataset/Dataset/data/8245389/table_1          0              —á–∞—Ä—Ç
...                                       ...        ...               ...
3381700  dataset/Dataset/data/3660091/table_2          2           –∫–æ–º–∞–Ω–¥–∞
3381701  dataset/Dataset/data/3660091/table_2          3           –∫–æ–º–∞–Ω–¥–∞
3381702  dataset/Dataset/data/4212949/table_0          2             –æ–±—ä–µ–º
3381703  dataset/Dataset/data/7525778/table_0          1             –≤—Ä–µ–º—è
3381704  dataset/Dataset/data/7525778/table_0          4            –∞–ª—å–±–æ–º

[3222715 rows x 3 columns]

In [40]:
from pathlib import Path
from tqdm import tqdm

df_cleansed_lemma.to_csv(f"./lemmatized/data.csv", sep=";", index=False)