# –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
import pandas as pd

from tqdm import tqdm
tqdm.pandas()

In [2]:
df_list = []

for i in range(12):
    df_list.append(
        pd.read_csv(f"../collecting/columns_headers/headers_{i}.csv", sep="‚áß", engine="python", quotechar='"', on_bad_lines="warn")
    )
df = pd.concat(df_list, axis=0)
df

Skipping line 49505: '‚áß' expected after '"'
Skipping line 49506: '‚áß' expected after '"'
Skipping line 49507: '‚áß' expected after '"'
Skipping line 345854: field larger than field limit (131072)

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–ì–æ–¥
3,dataset/Dataset/data/4022432/table_0,1,Unnamed: 1
4,dataset/Dataset/data/4022432/table_0,2,–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

# Research
---
–ü—Ä–æ–±–ª–µ–º–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã (—Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –Ω–µ –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å):
- –°—Ç–æ–ª–±—Ü—ã –ø–æ —Ç–∏–ø—É: "ŒîH–∫–∏–ø, –∫–î–∂¬∑–º–æ–ª—å‚àí1"
- –°—Ç–æ–ª–±—Ü—ã –∏—Å–ø–æ–ª—å–∑—É—é—â–∏–µ—Å—è –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∫–∞–∫–∏—Ö-–ª–∏–±–æ –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –≤—Ä–µ–º–µ–Ω–∏ (–º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)
- –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –∏–º–µ–Ω–∏
- –°—Ç–æ–ª–±—Ü—ã, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª–∞ (—á–∏—Å–ª–∞ –∏ —Ç.–ø.)
- –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã –∏ —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è

### –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è = 164500
–∏—Ö –º–æ–∂–Ω–æ –æ—Ç–ø—Ä–∞–≤–∏—Ç—å –≤ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫—É, —á—Ç–æ–±—ã –Ω–µ —Ç–µ—Ä—è—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. (–Ω—É–∂–Ω–æ –µ—â–µ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, —á—Ç–æ –≤–Ω—É—Ç—Ä–∏ –Ω–∏—Ö –æ–±—ã—á–Ω–æ –ª–µ–∂–∏—Ç)

### –ë–µ–∑ –∏–º–µ–Ω–∏
–º–æ–∂–Ω–æ –≤ —Ç–µ—Å—Ç

## .mv-parser... = 15661
–æ–±—Ä–µ–∑–∞—Ç—å —Ç–æ–ª—å–∫–æ –æ—Å–º—ã—Å–ª–µ–Ω–Ω—ã–π —Ç–µ–∫—Å—Ç

---

In [3]:
df["column_name"].value_counts()

column_name
–ì–æ–¥                    220601
–ú–µ—Å—Ç–æ                   87167
–†–æ–ª—å                    78957
–ö–æ–º–∞–Ω–¥–∞                 67698
–ù–∞–∑–≤–∞–Ω–∏–µ                64939
                        ...
–°–æ-–ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å(–∏)         1
–û–±–ª–∞—Å—Ç–∏ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è          1
51 220                      1
1999‚Äî2001                   1
1724                        1
Name: count, Length: 125673, dtype: int64

## –°—Ç–æ–ª–±—Ü—ã –±–µ–∑ –Ω–∞–∑–≤–∞–Ω–∏—è

In [4]:
unnamed_columns = df["column_name"].apply(lambda x: str(x).startswith("Unnamed"))
df[unnamed_columns]

                                    table_id  column_id column_name
3       dataset/Dataset/data/4022432/table_0          1  Unnamed: 1
215     dataset/Dataset/data/8128699/table_0          1  Unnamed: 1
225     dataset/Dataset/data/7786517/table_0          1  Unnamed: 1
267     dataset/Dataset/data/3595819/table_2          0  Unnamed: 0
324     dataset/Dataset/data/1802083/table_7          0  Unnamed: 0
...                                      ...        ...         ...
411160  dataset/Dataset/data/8352540/table_7          1  Unnamed: 1
411268  dataset/Dataset/data/2584082/table_1          2  Unnamed: 2
411275  dataset/Dataset/data/2584082/table_1          9  Unnamed: 9
411289   dataset/Dataset/data/980012/table_0          0  Unnamed: 0
411362   dataset/Dataset/data/165717/table_0          1  Unnamed: 1

[164440 rows x 3 columns]

## –°—Ç–æ–ª–±—Ü—ã —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏: ".mw-parser..."

In [5]:
mv_parser = df["column_name"].apply(lambda x: str(x).strip().startswith(".mw-parser"))
df[mv_parser]

,table_id,column_id,column_name
52,dataset/Dataset/data/4659559/table_0,0,.mw-parser-output .ts-comment-commentedText{bo...
605,dataset/Dataset/data/5220971/table_15,1,.mw-parser-output .ts-comment-commentedText{bo...
1437,dataset/Dataset/data/5346766/table_1,0,.mw-parser-output .ts-comment-commentedText{bo...
1777,dataset/Dataset/data/4747431/table_1,0,.mw-parser-output .ts-comment-commentedText{bo...
2040,dataset/Dataset/data/7955239/table_5,0,.mw-parser-output .ts-comment-commentedText{bo...
...,...,...,...
410876,dataset/Dataset/data/5375371/table_0,1,.mw-parser-output .ts-comment-commentedText{bo...
410941,dataset/Dataset/data/5372811/table_0,1,.mw-parser-output .ts-comment-commentedText{bo...
410988,dataset/Dataset/data/2554658/table_0,0,.mw-parser-output .ts-comment-commentedText{bo...
411366,dataset/Dataset/data/5451199/table_0,0,.mw-parser-output .ts-comment-commentedText{bo...
411411,dataset/Dataset/data/3818327/table_0,0,.mw-parser-output .ts-comment-commentedText{bo...

### –í –Ω–∞–∑–Ω–≤–∞–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è —á–µ–ª–æ–≤–µ–∫–æ–ø–æ–Ω—è—Ç–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ, –Ω—É–∂–Ω–æ –æ—Ç—á–∏—Å—Ç–∏—Ç—å –º—É—Å–æ—Ä–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [6]:
mv_parser_humnareadable_names = df[mv_parser]["column_name"].apply(lambda x: str(x).split("}")[-1])
mv_parser_humnareadable_names.unique()

array(['–ú', '–ú–£', '–¶–≤–µ—Ç–∞ —É—á–∞—Å—Ç–Ω–∏—Ü', '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è', '#', 'Ref.', '–•–ü',
       '‚Ññ', '–ñ–µ—Ä—Ç–≤—ã', '7,5+7,5 –∫–º', '–ö–æ—ç—Ñ—Ñ.', '–í', '–ò', 'N', '–ö–æ—ç—Ñ.',
       '–î / –í', '–ì–æ–¥', '–ü', '‚Ññ –ø/–ø', ' –í', '09/10', 'Bib', '–ü—Ä–∏–º.',
       '02/03', '–ü–µ—Ä.', '–°–µ–∑–æ–Ω—ã', '–ö–∞—Ç–µ–≥–æ—Ä–∏—è', '–ö—É–±–æ–∫', '–°', '–ò.', '–ë–ö',
       '–¢–¢–•', '–£—Ä–æ–≤.', 'HP', '–ü–æ–∑', '–¢—Ä–µ–Ω–µ—Ä', '–ö–ß', '–ö–ü', '–ü–æ–∑.', '–°–£',
       '–ù', '–î–æ—Å—Ç—É–ø-–Ω–æ—Å—Ç—å', '–ì—Ä.', '–ü–ß', '08/09', '11/12',
       'Country Songs[A]', '¬±', '–ó', '–î–æ–ª–∂–Ω–æ—Å—Ç—å / –¢–∏—Ç—É–ª', '–ù–æ–º.', '–ü–ü',
       '–¥/–≥', '–≠—Ç–∞–ø', '15+15 –∫–º', ' –û—Ç', '–°–£, –∫–º', ' –ò', '–ö-–≤–æ', 'GP',
       '–û—á–∫–∏', '–ò, –°', '–ü.', '–ß–∏—Å–ª–µ–Ω–Ω–æ—Å—Ç—å–≤–µ—Ä—É—é—â–∏—Ö–º–ª–Ω. —á–µ–ª–æ–≤–µ–∫', '–ü–µ—Ä–∏–æ–¥',
       '–ì–ü[67]', '–î–∞—Ç–∞ —Ä–æ–∂–¥–µ–Ω–∏—è', '–ù–∞—Ü', '+/-', '06/07', '–µ–¥. –∏–∑–º.',
       '–û—Ü–µ–Ω–∫–∞ –∑–∞ —Ç—Ä—É–¥–Ω–æ—Å—Ç—å',
       '–î–æ–ª—è —É—á–µ–Ω–∏–∫–æ–≤ –ø–æ –æ–±—É—á–µ–Ω–∏—é –Ω–∞ —Ä—É—Å—Å–∫–æ–º –∏ –±–µ–ª–æ—Ä—É—Å—Å–∫–æ–º —è–∑—ã–∫–∞—Ö,\xa0%[42][39][43]:',
       '04/05', '–ò—Å—Ç.', '–ö—Ä', '–ß–°', '–ö–ù–°–û', '–ì–æ–ª–æ—Å–æ–≤–∞–ª–æ', '–†–µ–∑.', 'SP',
       'SP.1', '–ù–æ—Ä–≤–µ–∂—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–û—á', '–õ/–ö—Ä—É–≥–∏', '–û—Ü–µ–Ω–∫–∞ D', 'RPG',
       '–ë/–ö—Ä—É–≥–∏', '–ü–ª–æ—Ç–Ω–æ—Å—Ç—å(—á–µ–ª./–∫–º¬≤)', '–í–£', '–û—Ç—á—ë—Ç', '–°–°', 'SPG',
       '–ü—Ä.', 'PPG', '–ù–∞—Å–µ–ª–µ–Ω–∏–µ[65]', '–ì–ó', '–ü–±', '–ü–æ–±–µ–¥–∞', '12/13',
       '–ó–∞–≤. ‚Ññ', '–ü–°–õ', '–ò–≥—Ä', '–ú–∞—Ç—á–∏', '–í—Å–µ–≥–æ –¥–µ–ø—É—Ç–∞—Ç–æ–≤', '–û—Ä–±–∏—Ç–∞', '–û–ü',
       '–õ–ö', '96/97', '–ú–ö–ó', '–ü—Ä–æ—á–∏–µ', '–î / –í / –ù', '–î–∂.', '+/- (–≤\xa0%)',
       '–°–≠', '–¢–∏–ø –∞–¥–º. –µ–¥.', '–ü–®', '–ü–∞–ª.', '–í–æ–∑–¥.', '–°–≥—Ä', '–õ–∞—É—Ä–µ–∞—Ç—ã',
       '–î–æ–º.', 'C', '–ö–ù', '–ì–æ–ª—ã', '–õ–∏–≥–∞', '15/16', '–ê', '–ó—Ä–∏—Ç–µ–ª–∏',
       '–ú–µ—Å—Ç–æ', '–ö–∞–Ω–¥–∑–∏', '92/93', '–ì', '–ó–Ω–∞–∫ —Ä–∞–∑–ª–∏—á–∏—è', '–ì–ü[31]',
       '–°–±–æ—Ä–Ω—ã–µ', '–ö–∞—Ç', 'BPG', '–§–∏–Ω–∞–ª', '–°—Ç—Ä–∞–Ω–∞', '–†–µ–≥. —á–µ–º–ø.', 'APG',
       '–û–° –ú–°–û–ü', '–†–∞–Ω–≥[~ 1]', '–ö–æ–º–∞–Ω–¥—ã', '–í —Å—Ä.', '–î–Ω–µ–π', 'No.', '–ö',
       '–ú–µ–¥–∏–∞—Ñ–∞–π–ª—ã –Ω–∞\xa0–í–∏–∫–∏—Å–∫–ª–∞–¥–µ–ú–æ–¥–µ–ª—å', '–°—É–±—ä–µ–∫—Ç –†–§', '–í‚Äì–ü', '–ò—Å—Ç',
       '–û–ß–ú', 'Œ£', '–ú–∏–Ω—É—Ç', 'G', '–î–æ–ª–∂–Ω–æ—Å—Ç—å', '–ú–ì', '–ü–ö–ü', '10/11',
       '–í–Ω–µ–±–∏—Ä–∂–µ–≤–æ–π —Ä—ã–Ω–æ–∫', '–ö–ê', '+', '14/15', '–õ/–∫—Ä—É–≥–∏', '–ü–æ–±', '–°–ö',
       'Pld', '–û–°–ò', '–ì–ü[69]', '–£', '–¢–∞–∫–∂–µ –≤—ã—à–µ–ª', '–ì–æ–ª/–ò–≥—Ä–∞',
       '–ö–≤–∞–ª–∏—Ñ–∏–∫–∞—Ü–∏—è', '–û–ø–∏—Å–∞–Ω–∏–µ', '–°–ö–† (–æ–±—â–∏–π)',
       '–ì–æ–¥, —Å—Å—ã–ª–∫–∏,(‚Ññ —Ü–µ—Ä–µ–º–æ–Ω–∏–∏)', '–†–µ–ª–∏–∑', '–°—Ç–∞—Ä—Ç', '100 –º —Å/–±', '–ú–°',
       '–ó–∞—á.', '–ú.', '–í—ã—Å–æ—Ç–∞,\xa0–º', '–§–∞–∑–∞', '–ö–ò', 'Pos.', '–ù–∏–∫', ' –ü/–£',
       '–û', '–ò—Å.', '–∏–Ω–æ—Å—Ç—Ä.', '–ö–∞—Ç.', '–ö–ª—É–±—ã', '–ü–æ—Ä—Ç—Ä–µ—Ç', '99/00',
       '–û—Ñ. ITV —Ä–µ–π—Ç–∏–Ω–≥(–º–ª–Ω)[1]', '–í—ã–±—ã–ª–∞', '–û–ù', '\xa0–í', '03/04',
       '–ù–∞—Å–µ–ª–µ–Ω–∏–µ', '–ö–°', '–ö–¢', '–¢–∏–ø', '–ö–æ–Ω—Ñ.', 'WR', '–°–Ω.', '–û–∫—Ä—É–≥',
       '–î–∏–≤.', 'M', '–î/–ì', '–û–ö–† –Ω–∞ 1000–∂–∏—Ç–µ–ª–µ–π', '–≠/–±', '–í won', '–î',
       '–†–∞–∑', '–ö–ú', '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[4]', '–¢–ê (–ë–ö —Ç–æ—Ä–ø–µ–¥)',
       '–†–∞–∑–º–µ—Ä –¥–æ–∫–∞–ø–∏—Ç–∞–ª–∏–∑–∞—Ü–∏–∏', '–ñ–ö', '–î–ù–ü', '–û—Ü–µ–Ω–∫–∞ E', '–ë–≠',
       '–°–∏–Ω—è—è —Å—Ç–æ—Ä–æ–Ω–∞', '–ì–ü', '–ë/–ù', '–õ.–∫—Ä—É–≥–∏', 'W', '–õ—É—á—à–∏–π –Ω–æ–≤–∏—á–æ–∫',
       '–ß–µ–º–ø–∏–æ–Ω—Å—Ç–≤–æ', '–ü—Ä–æ–∏–∑–≤.–∫–æ–¥', '–¶–µ—Ä–µ–º–æ–Ω–∏—è', '–î–µ–ª–æ',
       '–£—á–∞—Å—Ç–∏—è –≤ –†–µ—Å—Ç–ª–º–∞–Ω–∏—è—Ö', '–†–∞–∑–Ω–∏—Ü–∞', '–°—Ç—Ä.', 'D2/D0', '–ò–ì–†',
       '–ò–∑–±–∏—Ä–∞—Ç–µ–ª–µ–π', '–°–†', '–î/–≥', '78/79', '–°—Ç–∞–¥–∏—è', 'MVP',
       '–ê–¥–º–∏–Ω.—Ü–µ–Ω—Ç—Ä', '–ë—ã—Å—Ç—Ä—ã–π –∫—Ä—É–≥', '–ü–∞—Å—Å.,–º–ª–Ω', '–î–∞—Ç–∞', 'Ref',
       '–†–µ–∑—É–ª—å—Ç–∞—Ç', '–ù/–¥', '–ö–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã', '–ü–æ—É–ª', '–í–æ–∑—Ä–∞—Å—Ç', '–ù/–æ',
       '–°–µ–π—á–∞—Å', '–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç', 'bib', '–ì–æ—Ä–æ–¥–∞ –û–ü',
       '–ù–∞–∑–≤–∞–Ω–∏–µ –≤ –∑–∞—è–≤–∫–µ–Ω–∞ –Ω–æ–º–∏–Ω–∞—Ü–∏—é', '–ò–Ω–¥–∏–≤.', '–õ. –∫—Ä—É–≥–∏',
       '–ü—Ä–æ—Ñ. –ø–µ—Ä–∏–æ–¥', 'PR', '–ö–≤–∞–ª.', '–ì. —Ä.', '–û—Ü–µ–Ω–∫–∞ T', '–î—Ä–µ–≤–Ω.',
       '–î–µ–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ[1]', '–ò–µ—Ä.', '–ù–µ–∑–∞–≤–∏—Å–∏–º—ã–π –ø–æ–±–µ–¥–∏—Ç–µ–ª—å', '–î–∏–≤–∏–∑–∏–æ–Ω',
       'TFP', '–°–ü', '89/90', '–ó–∞—è–≤–ª–µ–Ω–∏–µ –æ–± —É—á–∞—Å—Ç–∏–∏', '–ò–∑–¥.', '–ò—Ç–æ–≥[1]',
       '–í—Å–µ–≥–æ', '–ù–∞—É—á–Ω—ã–µ —Å—Ç–µ–ø–µ–Ω–∏ –∏ –∑–≤–∞–Ω–∏—è', '–ó–≤–∞–Ω–∏–µ', '–í–ú', '% –í', '–ö–†–°',
       '–ü—Ä–æ–ø—É—â–µ–Ω–æ', '–§–ò–û', '–ü–ª–µ–π-–æ—Ñ—Ñ', 'Av.', '–¢',
       '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–ª–∞—Ç–Ω—ã—Ö –ø–æ–∫–∞–∑–æ–≤ (–º–ª–Ω)', '–¥–ª–∏–Ω–∞',
       '–£—á–∞—Å—Ç–∏—è –≤ —Ñ–∏–Ω–∞–ª—å–Ω—ã—Ö —Ç—É—Ä–Ω–∏—Ä–∞—Ö', '–ó—Ä–∏—Ç–µ–ª–µ–π', '‚Ññ‚Ññ', '–ú–µ—Å—Ç–æ/—Ç—É—Ä',
       'RSKP', '–ö–æ–¥', '–ê–≤—Ç–æ', '–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Å–æ–∑–≤–µ–∑–¥–∏—è', '10 –∫–º',
       '–î–æ–ª—è, %', '–ú/–ë', '–î–ë', '100 –º', '–í-–ü', '–ß. –∏. —Å.',
       '‚Ññ –≤—Å–µ—Ä–∏–∞–ª–µ JAG', '–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ', '–ü–∏–∫', '17/18', '07/08',
       'SOS', '–ú–µ–¥–∞–ª–∏', '–ì—Ä-–≤–æ', '–î–∞—Ç–∞ –Ω–∞—á–∞–ª–∞ –≤–æ–ª–Ω—ã', '–ì–æ–¥ (–Ω–∞—á.)', '‚Ññ–∞–≤',
       ' –ü–æ–∑.', '–ò—Ç–æ–≥–æ', '–ê-2010', 'TC2 winner', '–†–µ–π—Ç–∏–Ω–≥', '–ö–æ–ª.', '–ù.',
       '–ü–µ—Ä. —ç–∫—Å–ø–ª—É–∞—Ç.', '–ê–±–±—Ä.', '', '–ò–ª–ª.', '–ß–†', '–ü—Ä–∏–º–µ—á–∞–Ω–∏–µ', '–ö–æ–º–º.',
       '–ú–Ω–æ–≥–æ–±–æ—Ä—å–µ', '–û–ò–ö', '–ö–æ—ç—Ñ—Ñ.[1]', '–ù–æ–º–µ—Ä —É–∫–∞–∑–∞', '–†–°', '–°–±',
       'Vref', '–ì–æ–ª—ã (–ü)', '–ì—Ä—É–ø–ø–∞', '–î–∞—Ç–∞ –ø–æ–∂–∞–ª–æ–≤–∞–Ω–∏—è –æ—Ä–¥–µ–Ω–∞', 'SS',
       '–†–µ–ª–∏–≥–∏—è', '25 –º', 'TA', '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥', '–ö–≤–∞–ª–∏—Ñ. —Ä–∞—É–Ω–¥.1', ' ‚ôÜ',
       '–≠—Ç–∞–ø—ã', '–°–ø—Ä', '–°—Å—ã–ª.', '–ö–ü–ë', '–ù–¢ –ò–Ω–¥. —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è', '–í—ã–±—ã–ª–∏',
       '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.1', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å.2', '–ü–µ–Ω', '–î–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç',
       'RCT', '–ó–ú', '–ü.–Ω.', '–ì–æ–¥—ã –∂–∏–∑–Ω–∏'], dtype=object)

## –ê–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—ã / —Å–æ–∫—Ä–∞—â–µ–Ω–∏—è / –º–µ—Ä—ã (–∫–≥, –∫–¥–∂.)

In [7]:
# TODO: what should i do? -_-

## –ó–∞–≥–æ–ª–æ–≤–∫–∏, —Å–æ—Å—Ç–æ—è—â–∏–µ –∏–∑ –æ–¥–Ω–æ–π –±—É–∫–≤—ã

In [8]:
no_word_in_header = df["column_name"].str.len() < 2
df[no_word_in_header]["column_name"].unique()

array(['‚Ññ', '–ò', '–í', '–ù', '–ü', '¬±', '–û', '–ú', '–ì', '#', 'N', '1', '2',
       '3', '4', '5', '6', '7', '8', '9', '%', '–®', '–õ', 'A', 'B', '+',
       '‚àí', '=', 'm', '0', '-', '–†', 'I', 'R', '–ó', '–°', 'Œî', 'G', 'W',
       'L', 'n', '¬´', '¬ª', '⁄ö', '⁄ñ', '⁄Ö', '⁄Å', '⁄ò', 'ƒÅ', '≈´', '…ô', 'u',
       'i', 'a', 'e', 'o', 'Œ£', 'F', 'D', 'P', '–Ø', '–¢', '–ê', '<', '>',
       '‚àß', 'T', '–î', 'H', 'X', 'Y', '–ë', 'Z', 'M', '–§', '√§', 'Â≠∏', '…î',
       ' ä', '…µ', '…Æ', 'f', 's', ' É', 't', 'j', 'r', 'h', '*', '–≠', 'V',
       '‚Ä¶', '‚Üí', '√ó', 'K', '–ß', '_', 'ÿ∞', '⁄à', 'ÿØ', 'ÿÆ', 'ÿ≠', '⁄Ü', 'ÿ¨',
       'ÿ´', 'Ÿπ', 'ÿ™', 'Ÿæ', 'ÿ®', 'ÿß', 'Q', 'S', 'c', 'b', 'k', 'l', 'p',
       'w', 'x', 'y', '–ñ', '‚Üï', 'C', 'E', '‚Ä¢', '–£', '‡§Ö', '‡§Ü', '‡§á', '‡§à',
       '‡§â', '‡§ä', '‡§è', '‡§ê', '‡§ì', '‡§î', '‡§ã', '‡•†', '‡§å', '‡•°', 'J', 'O', 'U',
       '—è', '–ö', '√Å', '»∫', 'ƒÜ', '»ª', '¬∑', '‚àë', 'œá', 'd', '√©', 'g', '…®',
       'q', '·πü', ' â', 'v', 'z', "'", '^', '—Å', '‡§ï', '‡§ñ', '‡§ó', '‡§ò', '‡§ô',
       'Œë', 'Œí', 'Œì', 'Œï', 'œú', 'Œñ', 'Œó', 'Œò', 'Œô', 'Œö', 'Œõ', 'Œú', 'Œù',
       'Œû', 'Œü', 'Œ†', 'œò', 'Œ°', 'Œ§', 'Œ•', 'Œ¶', 'Œß', 'Œ®', 'Œ©', 'œ†', 'Àá',
       '¬¥', 'Àò', 'Â≠ó', '‚Äî', '·∏•', '·∏≥', '·∏´', 'Í§¢', 'Í§£', 'Í§§', 'Í§•', 'ƒÄ', '/',
       '‡≤Ö', '‡≤Ü', '‡≤á', '‡≤à', '‡≤â', '‡≤ä', '‡≤ã', '‡≥†', '‡≤é', '‡≤è', '‡≤ê', '‡≤í', '‡≤ì',
       '‡≤î', '–•', '√ò', 'ëÑá', 'ëÑà', 'ëÑâ', 'ëÑä', 'ëÑã', 'ëÑå', 'ëÑç', 'ëÑé', 'ëÑè', 'ëÑê',
       'ëÑë', '‚Äô', '.', '⁄Ñ', 'Ÿ∫', 'ŸΩ', 'Ÿø', '⁄Ä', 'Ÿª', 'Œ≥', ' æ', ' ø', '·π≠',
       '·π£', '·∏ç', '—ç', '–µ', '·ùÄ', '·ùÉ', '·ùã', '·ùÑ', '·ùÖ', '·ùÜ', '·ùá', '·ùà', '·ùâ',
       '·ùä', '·ùå', '·ùç', '·ùé', '·ùè', '·ùê', '·ùë', '$', 'Œ±', 'Œ≤', 'Œ¥', 'Œµ', 'Œ∂',
       'Œ∑', 'Œ∏', 'Œπ', 'Œ∫', 'Œª', 'Œº', 'ŒΩ', 'Œæ', 'Œø', 'œÄ', 'œÅ', 'œÉ', 'œÑ',
       'œÖ', 'œÜ', 'œà', 'œâ', '–ï', '«ß', '–≤', '–Ω', '–ø', '”ò', '“í', '–Å', '–ô',
       'Í§Ä', 'Í§Å', 'Í§Ç', 'Í§É', 'Í§Ñ', 'Í§Ö', 'Í§Ü', 'Í§á', 'Í§à', 'Í§â', '—Ñ', '–º', '–∞',
       '–∏', '–æ', '–¥', ',', '?', '!', ';', ':', '√¢', '‚Ç®', '‡ÆÖ', '‡ÆÜ', '‡Æá',
       '‡Æà', '‡Æâ', '‡Æä', '‡Æé', '‡Æè', '‡Æê', '‡Æí', '‡Æì', '‡Æî', '‚Ç£', '–¶', '–©', '–™',
       '–´', '–¨', '–Æ', '¬¨', '‡∞Ö', '‡∞Ü', '‡∞á', '‡∞à', '‡∞â', '‡∞ä', '‡∞ã', '‡±†', '‡∞å',
       '‡±°', '‡∞é', '‡∞è', '‡∞ê', '‡∞í', '‡∞ì', '‡∞î', ' §', 'Â∞á', 'Âºµ', '‚Üê', '‚Üî', '‚à®',
       ' º', '…ì', '…ó', ' î', '…≤', '≈ã', ' ã', '‚Üõ', 'ëÑ∂', 'ëÑ∑', 'ëÑ∏', 'ëÑπ', 'ëÑ∫',
       'ëÑª', 'ëÑº', 'ëÑΩ', 'ëÑæ', 'ëÑø', '‚âà', '}', '√º', '…£', 'ƒ≠', 'Í§ä', 'Í§ã', 'Í§å',
       'Í§ç', 'Í§é', 'Í§è', 'Í§ê', 'Í§ë', '—É', '“∂', '“∑', '–∂', '„Ñè', 'Êàë', '–±', '‚àû',
       '…õ', 'ëÑÉ', 'ëÑÑ', 'ëÑÖ', 'ëÑÜ', '·•Ü', '·•á', '·•à', '·•â', '·•ä', '·•ã', '·•å', '·•ç',
       '·•é', '·•è', '—é', '—ë', '√∏'], dtype=object)

# –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

---
1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö ".mv-parser.."
2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞
3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞ (‚Ññ, $, %, –∏ —Ç.–ø.)
4. –û—á–∏—Å—Ç–∫–∞ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞
5. –£–¥–∞–ª–µ–Ω–∏–µ –ª–∏—à–Ω–∏—Ö –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞
---

In [9]:
df_cleansed = df.copy()

## 1. –û—á–∏—Å—Ç–∫–∞ –º—É—Å–æ—Ä–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–æ–≤

In [10]:
def clean_mv_parser(col_name: str) -> str:
    if col_name.strip().startswith(".mw-parser"):
        return col_name.split("}")[-1]
    return col_name

df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: clean_mv_parser(str(x)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4965706/4965706 [00:02<00:00, 2407940.42it/s]

In [11]:
df_cleansed[mv_parser]

                                     table_id  column_id column_name
52       dataset/Dataset/data/4659559/table_0          0           –ú
605     dataset/Dataset/data/5220971/table_15          1          –ú–£
1437     dataset/Dataset/data/5346766/table_1          0           –ú
1777     dataset/Dataset/data/4747431/table_1          0           –ú
2040     dataset/Dataset/data/7955239/table_5          0           –ú
...                                       ...        ...         ...
410876   dataset/Dataset/data/5375371/table_0          1           –ò
410941   dataset/Dataset/data/5372811/table_0          1           –ò
410988   dataset/Dataset/data/2554658/table_0          0        –ü–æ–∑.
411366   dataset/Dataset/data/5451199/table_0          0           –ú
411411   dataset/Dataset/data/3818327/table_0          0           –ú

[15649 rows x 3 columns]

## 2. –í—ã–¥–µ–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –±–µ–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞

In [12]:
unnamed_columns = df_cleansed["column_name"].str.startswith("Unnamed")
df_cleansed = df_cleansed[~unnamed_columns]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–ì–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3. –ó–∞–º–µ–Ω–∞ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ –Ω–∞ —Å–ª–æ–≤–∞

In [13]:
def remove_alphabetic_symbols(col_name: str) -> str:
    """TODO: just replace this symbols with space"""
    restricted_symbols = [
        "(", 
        ")", 
        "+", 
        "-", 
        "[", 
        "]", 
        "/", 
        ".", 
        ",", 
        "@", 
        "{", 
        "}", 
        "¬´", 
        "¬ª", 
        "<", 
        ">", 
        ":", 
        ";", 
        "'",
        "*",
        "?",
        "!",
        "-",
        "_",
    ]
    return "".join(c for c in col_name if not c.isalpha() and not c.isdigit() and not c.isspace() and c not in restricted_symbols)

non_alpha = df_cleansed["column_name"].progress_apply(lambda x: remove_alphabetic_symbols(str(x)))
non_alpha.unique()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:04<00:00, 1005520.64it/s]

array(['', '‚Ññ', '¬±', '#', '‚Äî', '%', '$', '\\‚Ññ', '‚òâ', '‚Ä¢', '‚àí', '=', '""',
       '‚Äì', '‚äô', '\\', '¬∞', '¬∑‚àí', 'ÃÅ', '‚Ç¨', '\xad', '‚Äô%', '‚Äì%', '‚àÖ', '‚âà',
       '&', '|', '%%', '%%%%‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '\xad\xad', '‚àß', '‚Ä¢‚Ä¢', '‚Üí‚Üì',
       '‚ÇΩ', 'Ã±', '¬Ω', '‚â•', '\x7f"``"\x7f', '¬∑', '√∑%', '‚Ä¶', 'Õ°', '‚â°', '‚Ä∞',
       '‚Üì‚Üí', '‚Äî‚Äî', '&&', '‚Äô', '=""', 'Ã®', '‚Äô‚Äô', '‚Üí', '√ó', '~', '‚Üì', '‚ãÖ',
       '‚Ññ‚Ññ', '¬∞¬∑', '¬£', '¬±%', '$$', '‚Ä†', '‚Äî¬∞', '‚Üï', 'ÃÉ', '‚Ä¢‚Äî', '%~', '‚Äì‚Äì',
       '‡§Ç', '‡§É', '%‚Äî', '‚Ä°', '√ó=', '====', '‚Ññ‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Ññ‚Ññ‚Äî', '‡•ç',
       '¬Ω¬Ω', '‚àë', '¬∂', '¬•', '‚Ä≤', '%%%%%%', '||', '√ó√ó', '^', '"', '‚àí¬∑',
       '‚äï', 'Ôøº', '‚ôÇ', '‚ôÄ', '‚àí‚àí', '¬¥', 'Àò', '‚Äî‚Äî‚Äî', '‚àÜ%', 'ÔºàÔºâ', '%%%%%%%%',
       '¬º', 'Ã±Ã±', '%¬±', 'Í§¶', 'Í§ß', 'Í§®', 'Í§©', 'Í§™', '‚òÖ', '‚Ññ\\',
       '\xad\xad\xad\xad\xad', '\xad\xad\xad\xad', '‚àô‚àí', '‚àô‚àô‚àí', '‚â§¬∞',
       '‚â•¬∞', '‚ñº', '‡≤Ç', '‡≤É', '‚àû‚àû', '""""', '¬¨', '‚àû', '‚ôÅ', '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî',
       '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '\xad\xad\xad', '‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶‚Ä¶', '=%', '‚Üë', '‚ñº‚ñ≤%',
       '‚Ññ‚Ññ‚Äî‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚Äî%', '=‚àí', '\u200e', '%‚Ññ', '‚Ä≤‚Ä≤', '‚Äô‚Äî', '‚Äò‚Ä¶‚Äô',
       '‚†Ä', '‚Ä¢‚Ä¢‚Ä¢', '‚àí‚àí‚àí‚àí', '¬∑¬∑', '‚Äî‚Ä¶', '√ó‚Äù', '‚Äë', '#Ô∏è‚É£', 'Ã∞Ã∞', 'À¶', 'À©',
       'ÀßÀ©', 'À•Àß', 'À•', '‚Ä¢&', '&‚Äô', '‚àí¬∑‚àí', '‚Ç®', '%‚Äì', '‚Äî%‚Äî%‚Äî%', 'Ôºà', '‚Ç£',
       '‚â§%%√∑%%√∑%%', '%‚àí', '‚à®', '‚Äú‚Äù', '‡∞Å', '‡∞Ç', '‡∞É', '`', '‚Ññ#', '‚ñº¬ß',
       '‚Üì¬∑‚Üí', '=ÃÖ', '‚Äò‚Äô', '====¬∞', '‚àº', '&$', '=‚Äî', '‚Üê', '‚Üî', 'Ôºö', '‚â§',
       '‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî', '‚Ç©', '¬∞‚Äî', '‚Üõ', '¬∑¬∞', '‚Ññ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Ññ‚Ññ‚Äî‚Äî‚Äî‚Ññ‚Äî‚Ññ', '„ÄÇÔºàÔºâ„ÄÇ„ÄÇÔºàÔºâ„ÄÇ',
       '$&', '√∑', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', 'ÃàÃà', '√ó‚Åª', '~%', '√ó‚àí', '|||', '‚Äî#&~',
       '‚Ññ‚Äî', 'ÃÅÃÅ', 'ëÑß', 'ëÑ®', 'ëÑ©', 'ëÑ™', 'ëÑ´', 'ëÑ¨', 'ëÑÆ', 'ëÑ≠', 'ëÑØ', '=^',
       '‚àû‚àû‚àû', '‚áÖ', 'Í§´', 'Í§¨', 'Í§≠', '################', '‚Ññ&', '==', '‚Äô‚Äô‚Äô',
       '¬±¬∞', '#|', '‚àí%', 'ÃÅÃÅÃÅÃÅ', '‚Ä¶‚Äî‚Äî', '‚Ä¶‚Äî‚Äî‚Äò', '¬±¬±¬∑¬±¬±', 'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ',
       '##', '¬∑‚àí¬∑‚àí', '%¬∞', '""|&', '===', '‚Äî‚Äì', '#&', '&‚Äì',
       'ÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅÃÅ', '‚ôÜ', '¬ß', '~‚Äî^‚Äî', 'ÃÑÃÑ', '‚Ññ‚Üí‚Üì'], dtype=object)

In [14]:
# # - —Ç–æ–∂–µ –Ω–æ–º–µ—Ä –∏–ª–∏ –Ω–µ –≤—Å–µ–≥–¥–∞
# –ú–Ω–æ–≥–æ –∑–Ω–∞–∫–æ–≤ —Ä–∞–≤–µ–Ω—Å—Ç–≤–∞, —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –≤ —Å—Ç–æ–ª–±—Ü–µ —á–∏—Å–ª–æ –ª–µ–∂–∏—Ç, –º–æ–∂–Ω–æ —Ç–æ–∂–µ —É–∫–∞–∑–∞—Ç—å
rules = {
    "‚Ññ": " –Ω–æ–º–µ—Ä ",
    "%": " –ø—Ä–æ—Ü–µ–Ω—Ç ",
    "‚àÜ": " —á–∏—Å–ª–æ ",
    "‚àë": " —Å—É–º–º–∞ ",
    "Œ£": " —Å—É–º–º–∞ ",
    "$": " –¥–µ–Ω—å–≥–∏ ",
    "‚ÇΩ": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç¨": " –¥–µ–Ω—å–≥–∏ ",
    "¬•": " –¥–µ–Ω—å–≥–∏ ",
    "‚Ç©": " –¥–µ–Ω—å–≥–∏ ",
    "¬£": " –¥–µ–Ω—å–≥–∏ ",
}

for rule, word in rules.items():
    df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).replace(rule, word))

df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2726613.24it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2633688.77it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2681047.78it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2697964.95it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2679995.94it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2610138.36it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2736614.54it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2771472.64it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2656817.75it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2734766.76it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2593427.10it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,–ß–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–í—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–ì–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,–†—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–û—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–î–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,–°–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–ö–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3.1. To lower

In [15]:
df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).lower())
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:02<00:00, 2190293.86it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç (2019)
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

## 3.2 –∑–∞–º–µ–Ω–∞ —ë –Ω–∞ –µ

In [16]:
df_cleansed["column_name"] = df_cleansed["column_name"].str.replace("—ë", "–µ")

## 4. –£–¥–∞–ª–µ–Ω–∏–µ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ —Ä—É—Å—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞

In [17]:
# for i in df_cleansed.sort_values(by=["column_name"], ascending=False)["column_name"]:
#     print(i)

In [18]:
def remove_non_alphabetic_symbols(col_name: str) -> str:
    # return "".join(c for c in col_name if c.isalpha() or c == " ")
    # return "".join(c for c in col_name if "–ê" <= c <= "—è" or c == " ")
    for c in col_name:
        if not ("–∞" <= c <= "—è" or c == " "):
            col_name = col_name.replace(c, " ")
    return col_name
    # return "".join(c for c in col_name if "–∞" <= c <= "—è" or c == " ")

df_cleansed["column_name"] = df_cleansed["column_name"].progress_apply(lambda x: remove_non_alphabetic_symbols(str(x)))
df_cleansed

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:03<00:00, 1229488.05it/s]

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [19]:
len_le_2 = df_cleansed["column_name"].str.len() == 0
df_cleansed[len_le_2]

                                    table_id  column_id column_name
80632   dataset/Dataset/data/8289176/table_1          7
378460  dataset/Dataset/data/8113812/table_1          7

## 5. –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–±–µ–ª–æ–≤ —Å –Ω–∞—á–∞–ª–∞ –∏ –∫–æ–Ω—Ü–∞ –∑–∞–≥–æ–ª–æ–≤–∫–∞ —Å—Ç–æ–ª–±—Ü–∞

In [20]:
df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lambda x: str(x).strip())
df_cleansed = df_cleansed[df_cleansed["column_name"] != ""]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4801266/4801266 [00:01<00:00, 2746387.56it/s]

## 6. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ —Å—Ç–æ–ª–±—Ü–æ–≤, –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –¥–ª—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–π (–ø–æ –º–µ—Å—è—Ü—É, –≥–æ–¥—É –∏ —Ç.–ø.)

In [21]:
group_by_columns = [
    "—è–Ω–≤–∞—Ä—å",
    "—Ñ–µ–≤—Ä–∞–ª—å",
    "–º–∞—Ä—Ç",
    "–∞–ø—Ä–µ–ª—å",
    "–º–∞–π",
    "–∏—é–Ω—å",
    "–∏—é–ª—å",
    "–∞–≤–≥—É—Å—Ç",
    "—Å–µ–Ω—Ç—è–±—Ä—å",
    "–æ–∫—Ç—è–±—Ä—å",
    "–Ω–æ—è–±—Ä—å",
    "–¥–µ–∫–∞–±—Ä—å",
    "—è–Ω–≤",
    "—Ñ–µ–≤—Ä",
    "—Ñ–µ–≤",
    "–º–∞—Ä",
    "–∞–ø—Ä",
    "–∏—é–Ω",
    "–∏—é–ª",
    "–∞–≤–≥",
    "—Å–µ–Ω—Ç",
    "—Å–µ–Ω",
    "–æ–∫—Ç",
    "–Ω–æ—è",
    "–Ω–æ—è–±",
    "–¥–µ–∫",
]

In [22]:
s = 0
for col in group_by_columns:
    s += df_cleansed[df_cleansed["column_name"] == col].shape[0]
s

137387

In [23]:
for col in group_by_columns:
    group_by_mask = df_cleansed["column_name"] == col
    df_cleansed = df_cleansed[~group_by_mask]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [24]:
(df_cleansed["column_name"] == "—Ñ–µ–≤").sum()

0

## 7. –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–≥–æ–ª–æ–≤–∫–æ–≤ –¥–ª–∏–Ω–æ–π <= 2

TODO: split count max len of word; if <= 2 -> drop

In [25]:
len_le_2 = df_cleansed["column_name"].str.len() <= 2
df_cleansed[len_le_2]

                                    table_id  column_id column_name
47      dataset/Dataset/data/7873710/table_0          2          –ø—É
52      dataset/Dataset/data/4659559/table_0          0           –º
54      dataset/Dataset/data/4659559/table_0          2           –∏
55      dataset/Dataset/data/4659559/table_0          3           –≤
56      dataset/Dataset/data/4659559/table_0          4           –Ω
...                                      ...        ...         ...
411413  dataset/Dataset/data/3818327/table_0          2           –∏
411414  dataset/Dataset/data/3818327/table_0          3           –≤
411415  dataset/Dataset/data/3818327/table_0          4           –Ω
411416  dataset/Dataset/data/3818327/table_0          5           –ø
411419  dataset/Dataset/data/3818327/table_0          8           –æ

[373582 rows x 3 columns]

In [26]:
df_cleansed = df_cleansed[~len_le_2]
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
4,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
5,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
411439,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
411440,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
411441,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411442,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
411443,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [27]:
df_cleansed = df_cleansed.reset_index().drop(["index"], axis=1)
df_cleansed

,table_id,column_id,column_name
0,dataset/Dataset/data/7779522/table_0,0,—á–∞—Ä—Ç
1,dataset/Dataset/data/7779522/table_0,1,–≤—ã—Å—à–∞—è–ø–æ–∑–∏—Ü–∏—è
2,dataset/Dataset/data/4022432/table_0,0,–≥–æ–¥
3,dataset/Dataset/data/4022432/table_0,2,—Ä—É—Å—Å–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
4,dataset/Dataset/data/4022432/table_0,3,–æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ
...,...,...,...
3381676,dataset/Dataset/data/35185/table_7,6,–¥–∞—Ç–∞ –≤—ã—Ö–æ–¥–∞ –∏–∑ —Å–æ—é–∑–∞
3381677,dataset/Dataset/data/6206410/table_0,0,—Å–µ–∑–æ–Ω
3381678,dataset/Dataset/data/6206410/table_0,1,–∫–æ—Ä–æ—Ç–∫–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
3381679,dataset/Dataset/data/6206410/table_0,2,–ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–∞—è –ø—Ä–æ–≥—Ä–∞–º–º–∞
3381680,dataset/Dataset/data/6206410/table_0,3,–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã–µ

In [28]:
from random import randint

rnd = randint(0, df_cleansed.shape[0])
df_cleansed.loc[rnd:rnd+10]

                                     table_id  column_id     column_name
2459823  dataset/Dataset/data/939407/table_65          0             –∏–º—è
2459824  dataset/Dataset/data/939407/table_65          1             –ø–æ–ª
2459825  dataset/Dataset/data/939407/table_65          2             –≤–∏–¥
2459826  dataset/Dataset/data/939407/table_65          3  —Ä–æ–ª—å –≤ —Ñ–∏–ª—å–º–∞—Ö
2459827  dataset/Dataset/data/7012586/table_0          1         –∫–æ–º–∞–Ω–¥–∞
2459828  dataset/Dataset/data/8833481/table_1          0           –Ω–æ–º–µ—Ä
2459829  dataset/Dataset/data/8833481/table_1          1           –≥–æ—Ä–æ–¥
2459830  dataset/Dataset/data/8833481/table_1          2         –æ–±–ª–∞—Å—Ç—å
2459831  dataset/Dataset/data/8833481/table_1          3       –∫–∞—Ç–µ–≥–æ—Ä–∏—è
2459832  dataset/Dataset/data/8833481/table_1          5           –Ω–æ–º–µ—Ä
2459833  dataset/Dataset/data/8833481/table_1          6           –≥–æ—Ä–æ–¥

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –æ—á–∏—â–µ–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [29]:
import numpy as np

number_of_chunks = 10
for id, chunk in enumerate(np.array_split(df_cleansed, number_of_chunks)):
    chunk.to_csv(f"./cleansed/data_{id}.csv", sep=";", index=False)

/home/kirilltobola/Dev/github.com/isp/cta/venv/lib/python3.11/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

# –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

–î–∞–ª—å–Ω–µ–π—à–∞—è —Ä–∞–∑–º–µ—Ç–∫–∞ —Å—Ç—Ä–æ–∏—Ç—Å—è –Ω–∞ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–µ–Ω–∏–∏, —á—Ç–æ –ø–µ—Ä–≤–æ–µ —Å—É—â–µ—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ–µ –≤ –∑–∞–≥–æ–ª–æ–≤–∫–µ —Å—Ç–æ–ª–±—Ü–∞ –æ—Ç—Ä–∞–∂–∞–µ—Ç —Ç—É —Å—É—â–Ω–æ—Å—Ç—å, –∫–æ—Ç–æ—Ä–∞—è –≤ –Ω–µ–º —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è

In [34]:
import spacy

nlp = spacy.load("ru_core_news_sm", disable=['parser', 'ner'])

def lemmatize_word(word: str) -> str|None:
    for token in nlp(word):
        if token.pos_ == "NOUN":
            return token.lemma_
    return None

In [36]:
from pathlib import Path

for chunk_id in range(number_of_chunks):
    if not Path(f"./lemmatized/lemmatized_{chunk_id}.csv").exists():
        df_cleansed = pd.read_csv(f"./cleansed/data_{chunk_id}.csv", sep=";")
    
        df_cleansed.loc[:, "column_name"] = df_cleansed["column_name"].progress_apply(lemmatize_word)
        df_cleansed.to_csv(f"./lemmatized/lemma_{chunk_id}.csv", sep=";", index=False)